@charset "UTF-8";
/*---------------
----- FONTS -----
---------------*/
@font-face {
  font-family: "SpecialFont";
  src: url("../../public/assets/fonts/Mermaid1001.ttf") format("truetype");
  /* Ajouter ici les autres formats de police (.woff2, .ttf, .eot, etc.) pour la compatibilité des navigateurs */
}
@font-face {
  font-family: "MainFont_light";
  src: url("../../public/assets/fonts/ProximaNova-Light.ttf") format("truetype");
  /* Ajouter ici les autres formats de police (.woff2, .ttf, .eot, etc.) pour la compatibilité des navigateurs */
}
@font-face {
  font-family: "MainFont_lightItalic";
  src: url("../../public/assets/fonts/ProximaNova-LightIt.ttf") format("truetype");
  /* Ajouter ici les autres formats de police (.woff2, .ttf, .eot, etc.) pour la compatibilité des navigateurs */
}
@font-face {
  font-family: "MainFont_bold";
  src: url("../../public/assets/fonts/ProximaNova-Bold.ttf") format("truetype");
  /* Ajouter ici les autres formats de police (.woff2, .ttf, .eot, etc.) pour la compatibilité des navigateurs */
}
/*----------------
----- MIXINS -----
----------------*/
/*-------------------
----- VARIABLES -----
-------------------*/
/*-------------------
----- KEYFRAMES -----
-------------------*/
@-webkit-keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
@-webkit-keyframes heightRetract {
  0% {
    padding-top: 0%;
    padding-bottom: 0%;
  }
  25% {
    padding-top: 0%;
    padding-bottom: 0%;
  }
  100% {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
@keyframes heightRetract {
  0% {
    padding-top: 0%;
    padding-bottom: 0%;
  }
  25% {
    padding-top: 0%;
    padding-bottom: 0%;
  }
  100% {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
@-webkit-keyframes heightRetractInvert {
  0% {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  100% {
    padding-top: 0;
    padding-bottom: 0;
  }
}
@keyframes heightRetractInvert {
  0% {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  100% {
    padding-top: 0;
    padding-bottom: 0;
  }
}
@-webkit-keyframes navOpen {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes navOpen {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes navOpenInvert {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes navOpenInvert {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes showHamburger {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes showHamburger {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes hideHamburger {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes hideHamburger {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes openHeader {
  0% {
    height: 30px;
  }
  100% {
    height: 98px;
  }
}
@keyframes openHeader {
  0% {
    height: 30px;
  }
  100% {
    height: 98px;
  }
}
@-webkit-keyframes closeHeader {
  0% {
    height: 98px;
  }
  100% {
    height: 30px;
  }
}
@keyframes closeHeader {
  0% {
    height: 98px;
  }
  100% {
    height: 30px;
  }
}
@-webkit-keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@-webkit-keyframes closeCollapse {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes closeCollapse {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@-webkit-keyframes openCollapse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@keyframes openCollapse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@-webkit-keyframes openCarrousel {
  0% {
    height: 0%;
    opacity: 0;
    padding-bottom: 0px;
  }
  50% {
    height: auto;
    opacity: 0;
    padding-bottom: 54px;
  }
  100% {
    height: auto;
    opacity: 1;
    padding-bottom: 54px;
  }
}
@keyframes openCarrousel {
  0% {
    height: 0%;
    opacity: 0;
    padding-bottom: 0px;
  }
  50% {
    height: auto;
    opacity: 0;
    padding-bottom: 54px;
  }
  100% {
    height: auto;
    opacity: 1;
    padding-bottom: 54px;
  }
}
@-webkit-keyframes closeCarrousel {
  0% {
    height: auto;
    opacity: 1;
    padding-bottom: 54px;
  }
  50% {
    height: auto;
    opacity: 0;
    padding-bottom: 54px;
  }
  100% {
    height: 0px;
    opacity: 0;
    padding-bottom: 0px;
  }
}
@keyframes closeCarrousel {
  0% {
    height: auto;
    opacity: 1;
    padding-bottom: 54px;
  }
  50% {
    height: auto;
    opacity: 0;
    padding-bottom: 54px;
  }
  100% {
    height: 0px;
    opacity: 0;
    padding-bottom: 0px;
  }
}
.oneProject {
  display: flex;
  flex-direction: column;
}
.oneProject_titleContainer {
  margin: 85px 54px;
  display: flex;
  flex-direction: row;
  width: 70%;
  justify-content: space-between;
}
.oneProject_titleContainer_title h3 {
  font-size: 98px;
  font-family: "SpecialFont";
  margin: 0;
}
.oneProject_titleContainer_title p {
  font-family: "MainFont_light";
  font-size: 30px;
  margin: 0;
}
.oneProject_titleContainer_projectInfos {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-family: "MainFont_light";
  font-size: 19px;
  margin: 0;
}
.oneProject_firstImageContainer img {
  width: 100%;
  aspect-ratio: 2.5/1;
  -o-object-fit: cover;
     object-fit: cover;
}
.oneProject_firstInfosBlock {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  -moz-column-gap: 35px;
       column-gap: 35px;
  margin: 54px auto;
}
.oneProject_firstInfosBlock_showAndSceno {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.oneProject_firstInfosBlock_showAndSceno_showBlock h4, .oneProject_firstInfosBlock_showAndSceno_scenoBlock h4 {
  font-family: "SpecialFont";
  font-size: 30px;
  text-align: end;
  margin: 22px 0;
}
.oneProject_firstInfosBlock_showAndSceno_showBlock p, .oneProject_firstInfosBlock_showAndSceno_scenoBlock p {
  text-align: justify;
  font-family: "MainFont_light";
  font-size: 16px;
  margin: 22px 0;
}
.oneProject_firstInfosBlock_distributionAndLinks {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.oneProject_firstInfosBlock_distributionAndLinks_distribution {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.oneProject_firstInfosBlock_distributionAndLinks_distribution h4 {
  font-family: "SpecialFont";
  font-size: 30px;
  text-align: start;
  margin: 22px 0;
}
.oneProject_firstInfosBlock_distributionAndLinks_distribution_list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.oneProject_firstInfosBlock_distributionAndLinks_distribution_list_item p {
  font-size: 16px;
  font-family: "MainFont_light";
  margin: 3px 0;
}
.oneProject_firstInfosBlock_distributionAndLinks_distribution_list_item span {
  font-size: 16px;
  font-family: "MainFont_bold";
}
.oneProject_firstInfosBlock_distributionAndLinks_links {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  row-gap: 10px;
  margin: 22px 0;
}
.oneProject_firstInfosBlock_distributionAndLinks_links a {
  margin: auto;
  font-family: "SpecialFont";
  color: #0c0c0c;
  font-size: 25px;
  padding: 10px;
  border: none;
  background-color: rgb(238, 255, 0);
  text-decoration: none;
}
.oneProject_firstInfosBlock_distributionAndLinks_links a:hover {
  color: #E9E9E9;
  background-color: #0c0c0c;
  cursor: pointer;
}
.oneProject_secondImageContainer_2 {
  display: flex;
}
.oneProject_secondImageContainer_2_img_0 {
  width: 100%;
  aspect-ratio: 2.5/1;
  -o-object-fit: cover;
     object-fit: cover;
}
.oneProject_secondImageContainer_3 {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 3px;
       column-gap: 3px;
}
.oneProject_secondImageContainer_3_img_0 {
  width: 100%;
  aspect-ratio: 2.5/1;
  -o-object-fit: cover;
     object-fit: cover;
}
.oneProject_secondImageContainer_3_img_1 {
  -o-object-fit: cover;
     object-fit: cover;
}
.oneProject_secondImageContainer_4, .oneProject_secondImageContainer_5, .oneProject_secondImageContainer_6, .oneProject_secondImageContainer_7, .oneProject_secondImageContainer_8, .oneProject_secondImageContainer_9, .oneProject_secondImageContainer_10, .oneProject_secondImageContainer_11, .oneProject_secondImageContainer_12, .oneProject_secondImageContainer_13, .oneProject_secondImageContainer_14, .oneProject_secondImageContainer_15 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3px;
}
.oneProject_secondImageContainer_4_img_0, .oneProject_secondImageContainer_5_img_0, .oneProject_secondImageContainer_6_img_0, .oneProject_secondImageContainer_7_img_0, .oneProject_secondImageContainer_8_img_0, .oneProject_secondImageContainer_9_img_0, .oneProject_secondImageContainer_10_img_0, .oneProject_secondImageContainer_11_img_0, .oneProject_secondImageContainer_12_img_0, .oneProject_secondImageContainer_13_img_0, .oneProject_secondImageContainer_14_img_0, .oneProject_secondImageContainer_15_img_0 {
  height: 100%;
  width: 100%;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
  -o-object-fit: cover;
     object-fit: cover;
}
.oneProject_secondImageContainer_4_img_1, .oneProject_secondImageContainer_5_img_1, .oneProject_secondImageContainer_6_img_1, .oneProject_secondImageContainer_7_img_1, .oneProject_secondImageContainer_8_img_1, .oneProject_secondImageContainer_9_img_1, .oneProject_secondImageContainer_10_img_1, .oneProject_secondImageContainer_11_img_1, .oneProject_secondImageContainer_12_img_1, .oneProject_secondImageContainer_13_img_1, .oneProject_secondImageContainer_14_img_1, .oneProject_secondImageContainer_15_img_1 {
  height: 100%;
  width: 100%;
  grid-column-start: 1;
  grid-row-start: 2;
  grid-column-end: 2;
  grid-row-end: 3;
  -o-object-fit: cover;
     object-fit: cover;
}
.oneProject_secondImageContainer_4_img_2, .oneProject_secondImageContainer_5_img_2, .oneProject_secondImageContainer_6_img_2, .oneProject_secondImageContainer_7_img_2, .oneProject_secondImageContainer_8_img_2, .oneProject_secondImageContainer_9_img_2, .oneProject_secondImageContainer_10_img_2, .oneProject_secondImageContainer_11_img_2, .oneProject_secondImageContainer_12_img_2, .oneProject_secondImageContainer_13_img_2, .oneProject_secondImageContainer_14_img_2, .oneProject_secondImageContainer_15_img_2 {
  height: 100%;
  width: 100%;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  -o-object-fit: cover;
     object-fit: cover;
}
.oneProject_productionBlocks {
  height: auto;
  display: flex;
  flex-direction: column;
  padding-top: 54px;
  padding-bottom: 54px;
  background-color: rgb(238, 255, 0);
}
.oneProject_productionBlocks h4 {
  font-family: "SpecialFont";
  font-size: 30px;
  text-align: start;
  margin: 22px auto;
}
.oneProject_productionBlocks_container {
  margin: auto;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 35px;
  justify-content: center;
  margin: auto;
}
.oneProject_productionBlocks_container_block--leftText {
  text-align: end;
}
.oneProject_productionBlocks_container_block--rightText {
  text-align: start;
}
.oneProject_productionBlocks_container_block h5 {
  font-family: "SpecialFont";
  font-size: 22px;
  margin: 16px 0;
}
.oneProject_productionBlocks_container_block_list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.oneProject_productionBlocks_container_block_list_item a {
  font-size: 16px;
  font-family: "MainFont_light";
  text-decoration: underline;
  color: #0c0c0c;
}
.oneProject_productionBlocks_container_block_list_item span {
  font-size: 16px;
  font-family: "MainFont_light";
  margin: 3px 0;
}
.oneProject_thirdImageContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3px;
  width: 100%;
}
.oneProject_thirdImageContainer_5_img_0 {
  aspect-ratio: 2.5/1;
  width: 100%;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 4;
  grid-row-end: 2;
  -o-object-fit: cover;
     object-fit: cover;
}
.oneProject_thirdImageContainer_6 {
  height: 682px;
}
.oneProject_thirdImageContainer_6_img_0 {
  width: 100%;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 3;
  grid-row-end: 2;
  -o-object-fit: cover;
     object-fit: cover;
}
.oneProject_thirdImageContainer_6_img_1 {
  width: 100%;
  height: 100%;
  grid-column-start: 3;
  grid-row-start: 1;
  grid-column-end: 4;
  grid-row-end: 2;
  -o-object-fit: cover;
     object-fit: cover;
}
.oneProject_thirdImageContainer_7_img_0 {
  aspect-ratio: 2.5/1;
  width: 100%;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 4;
  grid-row-end: 2;
  -o-object-fit: cover;
     object-fit: cover;
}
.oneProject_thirdImageContainer_7_img_1 {
  height: 682px;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  -o-object-fit: cover;
     object-fit: cover;
}
.oneProject_thirdImageContainer_7_img_2 {
  height: 682px;
  width: 100%;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  -o-object-fit: cover;
     object-fit: cover;
}
.oneProject_thirdImageContainer_8_img_0 {
  aspect-ratio: 2.5/1;
  width: 100%;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 4;
  grid-row-end: 2;
  -o-object-fit: cover;
     object-fit: cover;
}
.oneProject_thirdImageContainer_8_img_1 {
  height: 682px;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  -o-object-fit: cover;
     object-fit: cover;
}
.oneProject_thirdImageContainer_8_img_2 {
  height: 682px;
  width: 100%;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  -o-object-fit: cover;
     object-fit: cover;
}
.oneProject_thirdImageContainer_8_img_3 {
  aspect-ratio: 2.5/1;
  width: 100%;
  grid-column-start: 1;
  grid-row-start: 3;
  grid-column-end: 4;
  grid-row-end: 4;
  -o-object-fit: cover;
     object-fit: cover;
}
.oneProject_thirdImageContainer_9_img_0 {
  aspect-ratio: 2.5/1;
  width: 100%;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 4;
  grid-row-end: 2;
  -o-object-fit: cover;
     object-fit: cover;
}
.oneProject_thirdImageContainer_9_img_1 {
  height: 682px;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  -o-object-fit: cover;
     object-fit: cover;
}
.oneProject_thirdImageContainer_9_img_2 {
  height: 682px;
  width: 100%;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  -o-object-fit: cover;
     object-fit: cover;
}
.oneProject_thirdImageContainer_9_img_3 {
  height: 100%;
  width: 100%;
  grid-column-start: 1;
  grid-row-start: 3;
  grid-column-end: 2;
  grid-row-end: 4;
  -o-object-fit: cover;
     object-fit: cover;
}
.oneProject_thirdImageContainer_9_img_4 {
  width: 100%;
  grid-column-start: 2;
  grid-row-start: 3;
  grid-column-end: 4;
  grid-row-end: 4;
  -o-object-fit: cover;
     object-fit: cover;
}
.oneProject_thirdImageContainer_10_img_0 {
  aspect-ratio: 2.5/1;
  width: 100%;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 4;
  grid-row-end: 2;
  -o-object-fit: cover;
     object-fit: cover;
}
.oneProject_thirdImageContainer_10_img_1 {
  height: 682px;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  -o-object-fit: cover;
     object-fit: cover;
}
.oneProject_thirdImageContainer_10_img_2 {
  height: 682px;
  width: 100%;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  -o-object-fit: cover;
     object-fit: cover;
}
.oneProject_thirdImageContainer_10_img_3 {
  height: 682px;
  width: 100%;
  grid-column-start: 1;
  grid-row-start: 3;
  grid-column-end: 2;
  grid-row-end: 4;
  -o-object-fit: cover;
     object-fit: cover;
}
.oneProject_thirdImageContainer_10_img_4 {
  height: 682px;
  width: 100%;
  grid-column-start: 2;
  grid-row-start: 3;
  grid-column-end: 3;
  grid-row-end: 4;
  -o-object-fit: cover;
     object-fit: cover;
}
.oneProject_thirdImageContainer_10_img_5 {
  height: 682px;
  width: 100%;
  grid-column-start: 3;
  grid-row-start: 3;
  grid-column-end: 4;
  grid-row-end: 4;
  -o-object-fit: cover;
     object-fit: cover;
}
.oneProject_thirdImageContainer_11_img_0 {
  aspect-ratio: 2.5/1;
  width: 100%;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 4;
  grid-row-end: 2;
  -o-object-fit: cover;
     object-fit: cover;
}
.oneProject_thirdImageContainer_11_img_1 {
  height: 682px;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  -o-object-fit: cover;
     object-fit: cover;
}
.oneProject_thirdImageContainer_11_img_2 {
  height: 682px;
  width: 100%;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  -o-object-fit: cover;
     object-fit: cover;
}
.oneProject_thirdImageContainer_11_img_3 {
  height: 682px;
  width: 100%;
  grid-column-start: 1;
  grid-row-start: 3;
  grid-column-end: 2;
  grid-row-end: 4;
  -o-object-fit: cover;
     object-fit: cover;
}
.oneProject_thirdImageContainer_11_img_4 {
  height: 682px;
  width: 100%;
  grid-column-start: 2;
  grid-row-start: 3;
  grid-column-end: 3;
  grid-row-end: 4;
  -o-object-fit: cover;
     object-fit: cover;
}
.oneProject_thirdImageContainer_11_img_5 {
  height: 682px;
  width: 100%;
  grid-column-start: 3;
  grid-row-start: 3;
  grid-column-end: 4;
  grid-row-end: 4;
  -o-object-fit: cover;
     object-fit: cover;
}
.oneProject_thirdImageContainer_11_img_6 {
  aspect-ratio: 2.5/1;
  width: 100%;
  grid-column-start: 1;
  grid-row-start: 4;
  grid-column-end: 4;
  grid-row-end: 5;
  -o-object-fit: cover;
     object-fit: cover;
}
.oneProject_thirdImageContainer_12_img_0 {
  aspect-ratio: 2.5/1;
  width: 100%;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 4;
  grid-row-end: 2;
  -o-object-fit: cover;
     object-fit: cover;
}
.oneProject_thirdImageContainer_12_img_1 {
  height: 682px;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  -o-object-fit: cover;
     object-fit: cover;
}
.oneProject_thirdImageContainer_12_img_2 {
  height: 682px;
  width: 100%;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  -o-object-fit: cover;
     object-fit: cover;
}
.oneProject_thirdImageContainer_12_img_3 {
  height: 682px;
  width: 100%;
  grid-column-start: 1;
  grid-row-start: 3;
  grid-column-end: 2;
  grid-row-end: 4;
  -o-object-fit: cover;
     object-fit: cover;
}
.oneProject_thirdImageContainer_12_img_4 {
  height: 682px;
  width: 100%;
  grid-column-start: 2;
  grid-row-start: 3;
  grid-column-end: 3;
  grid-row-end: 4;
  -o-object-fit: cover;
     object-fit: cover;
}
.oneProject_thirdImageContainer_12_img_5 {
  height: 682px;
  width: 100%;
  grid-column-start: 3;
  grid-row-start: 3;
  grid-column-end: 4;
  grid-row-end: 4;
  -o-object-fit: cover;
     object-fit: cover;
}
.oneProject_thirdImageContainer_12_img_6 {
  height: 682px;
  width: 100%;
  grid-column-start: 1;
  grid-row-start: 4;
  grid-column-end: 2;
  grid-row-end: 5;
  -o-object-fit: cover;
     object-fit: cover;
}
.oneProject_thirdImageContainer_12_img_7 {
  height: 682px;
  width: 100%;
  grid-column-start: 2;
  grid-row-start: 4;
  grid-column-end: 4;
  grid-row-end: 5;
  -o-object-fit: cover;
     object-fit: cover;
}
.oneProject_thirdImageContainer_13_img_0 {
  aspect-ratio: 2.5/1;
  width: 100%;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 4;
  grid-row-end: 2;
  -o-object-fit: cover;
     object-fit: cover;
}
.oneProject_thirdImageContainer_13_img_1 {
  height: 682px;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  -o-object-fit: cover;
     object-fit: cover;
}
.oneProject_thirdImageContainer_13_img_2 {
  height: 682px;
  width: 100%;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  -o-object-fit: cover;
     object-fit: cover;
}
.oneProject_thirdImageContainer_13_img_3 {
  height: 682px;
  width: 100%;
  grid-column-start: 1;
  grid-row-start: 3;
  grid-column-end: 2;
  grid-row-end: 4;
  -o-object-fit: cover;
     object-fit: cover;
}
.oneProject_thirdImageContainer_13_img_4 {
  height: 682px;
  width: 100%;
  grid-column-start: 2;
  grid-row-start: 3;
  grid-column-end: 3;
  grid-row-end: 4;
  -o-object-fit: cover;
     object-fit: cover;
}
.oneProject_thirdImageContainer_13_img_5 {
  height: 682px;
  width: 100%;
  grid-column-start: 3;
  grid-row-start: 3;
  grid-column-end: 4;
  grid-row-end: 4;
  -o-object-fit: cover;
     object-fit: cover;
}
.oneProject_thirdImageContainer_13_img_6 {
  height: 682px;
  width: 100%;
  grid-column-start: 1;
  grid-row-start: 4;
  grid-column-end: 2;
  grid-row-end: 5;
  -o-object-fit: cover;
     object-fit: cover;
}
.oneProject_thirdImageContainer_13_img_7 {
  height: 682px;
  width: 100%;
  grid-column-start: 2;
  grid-row-start: 4;
  grid-column-end: 4;
  grid-row-end: 5;
  -o-object-fit: cover;
     object-fit: cover;
}
.oneProject_thirdImageContainer_13_img_8 {
  aspect-ratio: 2.5/1;
  width: 100%;
  grid-column-start: 1;
  grid-row-start: 5;
  grid-column-end: 4;
  grid-row-end: 6;
  -o-object-fit: cover;
     object-fit: cover;
}
.oneProject_thirdImageContainer_14_img_0 {
  aspect-ratio: 2.5/1;
  width: 100%;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 4;
  grid-row-end: 2;
  -o-object-fit: cover;
     object-fit: cover;
}
.oneProject_thirdImageContainer_14_img_1 {
  height: 682px;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  -o-object-fit: cover;
     object-fit: cover;
}
.oneProject_thirdImageContainer_14_img_2 {
  height: 682px;
  width: 100%;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  -o-object-fit: cover;
     object-fit: cover;
}
.oneProject_thirdImageContainer_14_img_3 {
  height: 682px;
  width: 100%;
  grid-column-start: 1;
  grid-row-start: 3;
  grid-column-end: 2;
  grid-row-end: 4;
  -o-object-fit: cover;
     object-fit: cover;
}
.oneProject_thirdImageContainer_14_img_4 {
  height: 682px;
  width: 100%;
  grid-column-start: 2;
  grid-row-start: 3;
  grid-column-end: 3;
  grid-row-end: 4;
  -o-object-fit: cover;
     object-fit: cover;
}
.oneProject_thirdImageContainer_14_img_5 {
  height: 682px;
  width: 100%;
  grid-column-start: 3;
  grid-row-start: 3;
  grid-column-end: 4;
  grid-row-end: 4;
  -o-object-fit: cover;
     object-fit: cover;
}
.oneProject_thirdImageContainer_14_img_6 {
  height: 682px;
  width: 100%;
  grid-column-start: 1;
  grid-row-start: 4;
  grid-column-end: 2;
  grid-row-end: 5;
  -o-object-fit: cover;
     object-fit: cover;
}
.oneProject_thirdImageContainer_14_img_7 {
  height: 682px;
  width: 100%;
  grid-column-start: 2;
  grid-row-start: 4;
  grid-column-end: 4;
  grid-row-end: 5;
  -o-object-fit: cover;
     object-fit: cover;
}
.oneProject_thirdImageContainer_14_img_8 {
  height: 682px;
  width: 100%;
  grid-column-start: 1;
  grid-row-start: 5;
  grid-column-end: 3;
  grid-row-end: 6;
  -o-object-fit: cover;
     object-fit: cover;
}
.oneProject_thirdImageContainer_14_img_9 {
  height: 682px;
  width: 100%;
  grid-column-start: 3;
  grid-row-start: 5;
  grid-column-end: 4;
  grid-row-end: 6;
  -o-object-fit: cover;
     object-fit: cover;
}
.oneProject_thirdImageContainer_15_img_0 {
  aspect-ratio: 2.5/1;
  width: 100%;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 4;
  grid-row-end: 2;
  -o-object-fit: cover;
     object-fit: cover;
}
.oneProject_thirdImageContainer_15_img_1 {
  height: 682px;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  -o-object-fit: cover;
     object-fit: cover;
}
.oneProject_thirdImageContainer_15_img_2 {
  height: 682px;
  width: 100%;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  -o-object-fit: cover;
     object-fit: cover;
}
.oneProject_thirdImageContainer_15_img_3 {
  height: 682px;
  width: 100%;
  grid-column-start: 1;
  grid-row-start: 3;
  grid-column-end: 2;
  grid-row-end: 4;
  -o-object-fit: cover;
     object-fit: cover;
}
.oneProject_thirdImageContainer_15_img_4 {
  height: 682px;
  width: 100%;
  grid-column-start: 2;
  grid-row-start: 3;
  grid-column-end: 3;
  grid-row-end: 4;
  -o-object-fit: cover;
     object-fit: cover;
}
.oneProject_thirdImageContainer_15_img_5 {
  height: 682px;
  width: 100%;
  grid-column-start: 3;
  grid-row-start: 3;
  grid-column-end: 4;
  grid-row-end: 4;
  -o-object-fit: cover;
     object-fit: cover;
}
.oneProject_thirdImageContainer_15_img_6 {
  height: 682px;
  width: 100%;
  grid-column-start: 1;
  grid-row-start: 4;
  grid-column-end: 2;
  grid-row-end: 5;
  -o-object-fit: cover;
     object-fit: cover;
}
.oneProject_thirdImageContainer_15_img_7 {
  height: 682px;
  width: 100%;
  grid-column-start: 2;
  grid-row-start: 4;
  grid-column-end: 4;
  grid-row-end: 5;
  -o-object-fit: cover;
     object-fit: cover;
}
.oneProject_thirdImageContainer_15_img_8 {
  height: 682px;
  width: 100%;
  grid-column-start: 1;
  grid-row-start: 5;
  grid-column-end: 2;
  grid-row-end: 6;
  -o-object-fit: cover;
     object-fit: cover;
}
.oneProject_thirdImageContainer_15_img_9 {
  height: 682px;
  width: 100%;
  grid-column-start: 2;
  grid-row-start: 5;
  grid-column-end: 3;
  grid-row-end: 6;
  -o-object-fit: cover;
     object-fit: cover;
}
.oneProject_thirdImageContainer_15_img_10 {
  height: 682px;
  width: 100%;
  grid-column-start: 3;
  grid-row-start: 5;
  grid-column-end: 4;
  grid-row-end: 6;
  -o-object-fit: cover;
     object-fit: cover;
}
.oneProject_pressBlocks {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  background-color: rgb(65, 65, 65);
  color: #E9E9E9;
}
.oneProject_pressBlocks h4 {
  font-family: "SpecialFont";
  font-size: 30px;
  text-align: start;
  margin: 22px auto;
}
.oneProject_pressBlocks_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: auto;
  padding: 54px 0;
  width: 80%;
  grid-gap: 54px;
}
.oneProject_pressBlocks_container_item {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}
.oneProject_pressBlocks_container_item h5 {
  font-family: "SpecialFont";
  font-size: 22px;
  text-align: center;
  margin: 16px 0;
}
.oneProject_pressBlocks_container_item p {
  font-size: 16px;
  font-family: "MainFont_lightItalic";
  margin: 3px 0;
  text-align: center;
}
.oneProject_pressBlocks_container_item a {
  font-size: 16px;
  font-family: "MainFont_light";
  margin: 16px auto;
  text-align: center;
  color: #E9E9E9;
}
.oneProject_makingOfImageContainer_imagesGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin: auto;
  overflow: scroll;
  width: 70%;
  grid-gap: 25px;
}
.oneProject_makingOfImageContainer_imagesGrid img {
  -o-object-fit: cover;
     object-fit: cover;
  margin: auto;
  aspect-ratio: 1/1;
  width: 100%;
}
.oneProject_makingOfImageContainer_imagesGrid img:hover {
  cursor: pointer;
}
.oneProject_makingOfImageContainer_imageFocusContainer--displayOn {
  position: fixed;
  display: flex;
  flex-direction: row;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
.oneProject_makingOfImageContainer_imageFocusContainer--displayOff {
  display: none;
}
.oneProject_diffBlock {
  display: flex;
  flex-direction: column;
  margin: 54px auto;
}
.oneProject_diffBlock h4 {
  font-family: "SpecialFont";
  font-size: 30px;
  text-align: start;
  margin: 22px auto;
}
.oneProject_diffBlock_list {
  list-style-type: none;
  margin: 54px auto;
  overflow: scroll;
}
.oneProject_diffBlock_list_item a {
  color: #0c0c0c;
  font-family: "MainFont_bold";
  text-decoration: none;
}
.oneProject_diffBlock_list_item a:hover {
  color: rgb(65, 65, 65);
}/*# sourceMappingURL=OneProject.css.map */