@import '../../utils/mixins';

.oneProject {

    &_titleContainer {
        margin: 85px 54px;
        display: flex;
        flex-direction: row;
        width: 70%;
        justify-content: space-between;

        &_title {

            h3 {
                font-size: 98px;
                font-family: 'SpecialFont';
                margin: 0;

            }

            p {
                font-family: 'MainFont_light';
                font-size: 30px;
                margin: 0;
            }
        }

        &_projectInfos {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            font-family: 'MainFont_light';
            font-size: 19px;
            margin: 0;
        }

    }
    &_firstImageContainer {
        
        img {
            width: 100%; 
            aspect-ratio: 2/1;
            object-fit: cover;
        }
    }

    &_firstInfosBlock{
        width: 60%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        column-gap: 54px;
        margin: auto;

        &_showAndSceno {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            &_showBlock, &_scenoBlock {
                h4 {
                    font-family: 'SpecialFont';
                    font-size: 30px;
                    text-align: end;
                    margin: 22px 0;
                }
                p {
                    text-align: justify;
                    font-family: 'MainFont_light';
                    font-size: 16px;
                    margin: 22px 0;
                }
            }
        }

        &_distribution {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            h4 {
                font-family: 'SpecialFont';
                font-size: 30px;
                text-align: start;
                margin: 22px 0;
            }

            &_list {
                display: flex;
                flex-direction: column;
                list-style-type: none;
                padding: 0;
                margin: 0;

                &_item {
                    
                    p {
                        
                        font-size: 16px;
                        font-family: 'MainFont_light';
                        margin: 3px 0;
                    }
                    span {
                        font-size: 16px;
                        font-family: 'MainFont_bold';
                    }

                }
            }
        }

    }

}