@import '../../utils/mixins';

.oneProject {

    display: flex;
    flex-direction: column;
    

    &_titleContainer {
        margin: 85px 54px;
        display: flex;
        flex-direction: row;
        width: 70%;
        justify-content: space-between;

        &_title {

            h3 {
                font-size: 98px;
                font-family: 'SpecialFont';
                margin: 0;

            }

            p {
                font-family: 'MainFont_light';
                font-size: 30px;
                margin: 0;
            }
        }

        &_projectInfos {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            font-family: 'MainFont_light';
            font-size: 19px;
            margin: 0;
        }

    }
    &_firstImageContainer {
        
        img {
            width: 100%; 
            aspect-ratio: 2/1;
            object-fit: cover;
        }
    }

    &_firstInfosBlock{
        width: 60%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        column-gap: 35px;
        margin: 54px auto;

        &_showAndSceno {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            &_showBlock, &_scenoBlock {
                h4 {
                    font-family: 'SpecialFont';
                    font-size: 30px;
                    text-align: end;
                    margin: 22px 0;
                }
                p {
                    text-align: justify;

                    font-family: 'MainFont_light';
                    font-size: 16px;
                    margin: 22px 0;
                }
            }
        }

        &_distributionAndLinks {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &_distribution {
                width: 80%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;

                h4 {
                    font-family: 'SpecialFont';
                    font-size: 30px;
                    text-align: start;
                    margin: 22px 0;
                }

                &_list {
                    display: flex;
                    flex-direction: column;
                    list-style-type: none;
                    padding: 0;
                    margin: 0;

                    &_item {
                        
                        p {
                            
                            font-size: 16px;
                            font-family: 'MainFont_light';
                            margin: 3px 0;
                        }
                        span {
                            font-size: 16px;
                            font-family: 'MainFont_bold';
                        }

                    }
                }
            }

            &_links {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                row-gap: 10px;
                margin: 22px 0;      

                a {
                    @include Button;
                    text-decoration: none;
                }
            }
        }

    }
    &_secondImageContainer {
        width: 100%;

        &_2 {
            display: flex;
            width: 100%;
            height: 682px;

            &_img_0 {
                width: 100%;
                object-fit: cover;
            }
        }

        &_3 {
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 682px;
            column-gap: 3px;

            &_img_0 {
                width: 50%;
                object-fit: cover;
            }
            &_img_1 {
                width: 50%;
                object-fit: cover;
            }
        }

        &_4, &_5, &_6, &_7, &_8, &_9, &_10, &_11, &_12, &_13, &_14, &_15, &_16, &_17, &_18, &_19, &_20 {
            
            display: grid;
            grid-template-columns: 1fr 1fr;
            height: 1364px;
            grid-gap: 3px;

            &_img_0 {
                height: 100%;
                width: 100%;
                grid-column-start: 1;
                grid-row-start: 1;
                grid-column-end: 2;
                grid-row-end: 2;
                object-fit: cover;
            };
    
            &_img_1 {
                height: 100%;
                width: 100%;
                grid-column-start: 1;
                grid-row-start: 2;
                grid-column-end: 2;
                grid-row-end: 3;
                object-fit: cover;
            };
    
            &_img_2 {
                height: 100%;
                width: 100%;
                grid-column-start: 2;
                grid-column-end: 3;
                grid-row-start: 1;
                grid-row-end: 3;
                object-fit: cover;
            };
        } 
    }

    &_productionBlocks {
        height: auto;
        display: flex;
        flex-direction: column;
        padding-top: 54px;
        padding-bottom: 54px;
        
        background-color: $colorFirst;

        h4 {
            font-family: 'SpecialFont';
            font-size: 30px;
            text-align: start;
            margin: 22px auto;
        }

        &_container {
            margin: auto;
            width: 80%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 35px;
            justify-content: center;
           
            margin: auto;
    
            &_block {

                &--leftText {
                    text-align: end;
                }
                &--rightText {
                    text-align: start;
                }
                
                

                    h5 {
                        font-family: 'SpecialFont';
                        font-size: 22px;
                        margin: 16px 0;
                    }
                
                &_list {
                    display: flex;
                    flex-direction: column;
                    list-style-type: none;
                    padding: 0;
                    margin: 0;

                    &_item {
                        a {
                            font-size: 16px;
                            font-family: 'MainFont_light';
                            text-decoration: underline;
                            color: $colorDarkGrey;
                        } 
                        span {
                                
                            font-size: 16px;
                            font-family: 'MainFont_light';
                            margin: 3px 0;
                        }
                        
                    }
                }
            }
        }
    }
    &_thirdImageContainer {

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 3px;
        width: 100%;
        
        &_5 {

            &_img_0 {

                aspect-ratio: 2.5/1;
                width: 100%;
                grid-column-start: 1;
                grid-row-start: 1;
                grid-column-end: 4;
                grid-row-end: 2;
                object-fit: cover;
            };

        }

        &_6 {
            height: 682px;

            &_img_0 {
                width: 100%;
                grid-column-start: 1;
                grid-row-start: 1;
                grid-column-end: 3;
                grid-row-end: 2;
                object-fit: cover;
            };

            &_img_1 {

                width: 100%;
                height: 100%;
                grid-column-start: 3;
                grid-row-start: 1;
                grid-column-end: 4;
                grid-row-end: 2;
                object-fit: cover;
            };


        }

        &_7 {

            &_img_0 {

                aspect-ratio: 2.5/1;
                width: 100%;
                grid-column-start: 1;
                grid-row-start: 1;
                grid-column-end: 4;
                grid-row-end: 2;
                object-fit: cover;
            };

            &_img_1 {
                height: 682px;
                width: 100%;
                grid-column-start: 1;
                grid-column-end: 3;
                grid-row-start: 2;
                grid-row-end: 3;
                object-fit: cover;
            };
            
            &_img_2 {
                height: 682px;
                width: 100%;
                grid-column-start: 3;
                grid-column-end: 4;
                grid-row-start: 2;
                grid-row-end: 3;
                object-fit: cover;
            };
        }
        &_8 {

            &_img_0 {

                aspect-ratio: 2.5/1;
                width: 100%;
                grid-column-start: 1;
                grid-row-start: 1;
                grid-column-end: 4;
                grid-row-end: 2;
                object-fit: cover;
            };

            &_img_1 {
                height: 682px;
                width: 100%;
                grid-column-start: 1;
                grid-column-end: 3;
                grid-row-start: 2;
                grid-row-end: 3;
                object-fit: cover;
            };
            
            &_img_2 {
                height: 682px;
                width: 100%;
                grid-column-start: 3;
                grid-column-end: 4;
                grid-row-start: 2;
                grid-row-end: 3;
                object-fit: cover;
            };

            &_img_3 {

                aspect-ratio: 2.5/1;
                width: 100%;
                grid-column-start: 1;
                grid-row-start: 3;
                grid-column-end: 4;
                grid-row-end: 4;
                object-fit: cover;
            };
        }

        &_9 {
            &_img_0 {

                aspect-ratio: 2.5/1;
                width: 100%;
                grid-column-start: 1;
                grid-row-start: 1;
                grid-column-end: 4;
                grid-row-end: 2;
                object-fit: cover;
            };

            &_img_1 {
                height: 682px;
                width: 100%;
                grid-column-start: 1;
                grid-column-end: 3;
                grid-row-start: 2;
                grid-row-end: 3;
                object-fit: cover;
            };
            
            &_img_2 {
                height: 682px;
                width: 100%;
                grid-column-start: 3;
                grid-column-end: 4;
                grid-row-start: 2;
                grid-row-end: 3;
                object-fit: cover;
            };

            &_img_3 {

                height: 100%;
                width: 100%;
                grid-column-start: 1;
                grid-row-start: 3;
                grid-column-end: 2;
                grid-row-end: 4;
                object-fit: cover;
            };

            &_img_4 {
  
                width: 100%;
                grid-column-start: 2;
                grid-row-start: 3;
                grid-column-end: 4;
                grid-row-end: 4;
                object-fit: cover;
            };
        }

        &_10 {

            &_img_0 {

                aspect-ratio: 2.5/1;
                width: 100%;
                grid-column-start: 1;
                grid-row-start: 1;
                grid-column-end: 4;
                grid-row-end: 2;
                object-fit: cover;
            };

            &_img_1 {
                height: 682px;
                width: 100%;
                grid-column-start: 1;
                grid-column-end: 3;
                grid-row-start: 2;
                grid-row-end: 3;
                object-fit: cover;
            };
            
            &_img_2 {
                height: 682px;
                width: 100%;
                grid-column-start: 3;
                grid-column-end: 4;
                grid-row-start: 2;
                grid-row-end: 3;
                object-fit: cover;
            };

            &_img_3 {

                height: 682px;
                width: 100%;
                grid-column-start: 1;
                grid-row-start: 3;
                grid-column-end: 2;
                grid-row-end: 4;
                object-fit: cover;
            };

            &_img_4 {
                height: 682px;
                width: 100%;
                grid-column-start: 2;
                grid-row-start: 3;
                grid-column-end: 3;
                grid-row-end: 4;
                object-fit: cover;
            };

            &_img_5 {
                height: 682px;
                width: 100%;
                grid-column-start: 3;
                grid-row-start: 3;
                grid-column-end: 4;
                grid-row-end: 4;
                object-fit: cover;
            };

        }
        &_11 {

            &_img_0 {

                aspect-ratio: 2.5/1;
                width: 100%;
                grid-column-start: 1;
                grid-row-start: 1;
                grid-column-end: 4;
                grid-row-end: 2;
                object-fit: cover;
            };

            &_img_1 {
                height: 682px;
                width: 100%;
                grid-column-start: 1;
                grid-column-end: 3;
                grid-row-start: 2;
                grid-row-end: 3;
                object-fit: cover;
            };
            
            &_img_2 {
                height: 682px;
                width: 100%;
                grid-column-start: 3;
                grid-column-end: 4;
                grid-row-start: 2;
                grid-row-end: 3;
                object-fit: cover;
            };

            &_img_3 {

                height: 682px;
                width: 100%;
                grid-column-start: 1;
                grid-row-start: 3;
                grid-column-end: 2;
                grid-row-end: 4;
                object-fit: cover;
            };

            &_img_4 {
                height: 682px;
                width: 100%;
                grid-column-start: 2;
                grid-row-start: 3;
                grid-column-end: 3;
                grid-row-end: 4;
                object-fit: cover;
            };

            &_img_5 {
                height: 682px;
                width: 100%;
                grid-column-start: 3;
                grid-row-start: 3;
                grid-column-end: 4;
                grid-row-end: 4;
                object-fit: cover;
            };

            &_img_6 {
                aspect-ratio: 2.5/1;
                width: 100%;
                grid-column-start: 1;
                grid-row-start: 4;
                grid-column-end: 4;
                grid-row-end: 5;
                object-fit: cover;
            };

        }

        &_12 {

            &_img_0 {

                aspect-ratio: 2.5/1;
                width: 100%;
                grid-column-start: 1;
                grid-row-start: 1;
                grid-column-end: 4;
                grid-row-end: 2;
                object-fit: cover;
            };

            &_img_1 {
                height: 682px;
                width: 100%;
                grid-column-start: 1;
                grid-column-end: 3;
                grid-row-start: 2;
                grid-row-end: 3;
                object-fit: cover;
            };
            
            &_img_2 {
                height: 682px;
                width: 100%;
                grid-column-start: 3;
                grid-column-end: 4;
                grid-row-start: 2;
                grid-row-end: 3;
                object-fit: cover;
            };

            &_img_3 {

                height: 682px;
                width: 100%;
                grid-column-start: 1;
                grid-row-start: 3;
                grid-column-end: 2;
                grid-row-end: 4;
                object-fit: cover;
            };

            &_img_4 {
                height: 682px;
                width: 100%;
                grid-column-start: 2;
                grid-row-start: 3;
                grid-column-end: 3;
                grid-row-end: 4;
                object-fit: cover;
            };

            &_img_5 {
                height: 682px;
                width: 100%;
                grid-column-start: 3;
                grid-row-start: 3;
                grid-column-end: 4;
                grid-row-end: 4;
                object-fit: cover;
            };

            &_img_6 {
                height: 682px;
                width: 100%;
                grid-column-start: 1;
                grid-row-start: 4;
                grid-column-end: 2;
                grid-row-end: 5;
                object-fit: cover;
            };

            &_img_7 {
                height: 682px;
                width: 100%;
                grid-column-start: 2;
                grid-row-start: 4;
                grid-column-end: 4;
                grid-row-end: 5;
                object-fit: cover;
            };

        }

        &_13  {
            &_img_0 {

                aspect-ratio: 2.5/1;
                width: 100%;
                grid-column-start: 1;
                grid-row-start: 1;
                grid-column-end: 4;
                grid-row-end: 2;
                object-fit: cover;
            };

            &_img_1 {
                height: 682px;
                width: 100%;
                grid-column-start: 1;
                grid-column-end: 3;
                grid-row-start: 2;
                grid-row-end: 3;
                object-fit: cover;
            };
            
            &_img_2 {
                height: 682px;
                width: 100%;
                grid-column-start: 3;
                grid-column-end: 4;
                grid-row-start: 2;
                grid-row-end: 3;
                object-fit: cover;
            };

            &_img_3 {

                height: 682px;
                width: 100%;
                grid-column-start: 1;
                grid-row-start: 3;
                grid-column-end: 2;
                grid-row-end: 4;
                object-fit: cover;
            };

            &_img_4 {
                height: 682px;
                width: 100%;
                grid-column-start: 2;
                grid-row-start: 3;
                grid-column-end: 3;
                grid-row-end: 4;
                object-fit: cover;
            };

            &_img_5 {
                height: 682px;
                width: 100%;
                grid-column-start: 3;
                grid-row-start: 3;
                grid-column-end: 4;
                grid-row-end: 4;
                object-fit: cover;
            };

            &_img_6 {
                height: 682px;
                width: 100%;
                grid-column-start: 1;
                grid-row-start: 4;
                grid-column-end: 2;
                grid-row-end: 5;
                object-fit: cover;
            };

            &_img_7 {
                height: 682px;
                width: 100%;
                grid-column-start: 2;
                grid-row-start: 4;
                grid-column-end: 4;
                grid-row-end: 5;
                object-fit: cover;
            };

            &_img_8 {
                aspect-ratio: 2.5/1;
                width: 100%;
                grid-column-start: 1;
                grid-row-start: 5;
                grid-column-end: 4;
                grid-row-end: 6;
                object-fit: cover;
            };

        }

        &_14 {
            &_img_0 {

                aspect-ratio: 2.5/1;
                width: 100%;
                grid-column-start: 1;
                grid-row-start: 1;
                grid-column-end: 4;
                grid-row-end: 2;
                object-fit: cover;
            };

            &_img_1 {
                height: 682px;
                width: 100%;
                grid-column-start: 1;
                grid-column-end: 3;
                grid-row-start: 2;
                grid-row-end: 3;
                object-fit: cover;
            };
            
            &_img_2 {
                height: 682px;
                width: 100%;
                grid-column-start: 3;
                grid-column-end: 4;
                grid-row-start: 2;
                grid-row-end: 3;
                object-fit: cover;
            };

            &_img_3 {

                height: 682px;
                width: 100%;
                grid-column-start: 1;
                grid-row-start: 3;
                grid-column-end: 2;
                grid-row-end: 4;
                object-fit: cover;
            };

            &_img_4 {
                height: 682px;
                width: 100%;
                grid-column-start: 2;
                grid-row-start: 3;
                grid-column-end: 3;
                grid-row-end: 4;
                object-fit: cover;
            };

            &_img_5 {
                height: 682px;
                width: 100%;
                grid-column-start: 3;
                grid-row-start: 3;
                grid-column-end: 4;
                grid-row-end: 4;
                object-fit: cover;
            };

            &_img_6 {
                height: 682px;
                width: 100%;
                grid-column-start: 1;
                grid-row-start: 4;
                grid-column-end: 2;
                grid-row-end: 5;
                object-fit: cover;
            };

            &_img_7 {
                height: 682px;
                width: 100%;
                grid-column-start: 2;
                grid-row-start: 4;
                grid-column-end: 4;
                grid-row-end: 5;
                object-fit: cover;
            };

            &_img_8 {
                height: 682px;
                width: 100%;
                grid-column-start: 1;
                grid-row-start: 5;
                grid-column-end: 3;
                grid-row-end: 6;
                object-fit: cover;
            };
            &_img_9 {
                height: 682px;
                width: 100%;
                grid-column-start: 3;
                grid-row-start: 5;
                grid-column-end: 4;
                grid-row-end: 6;
                object-fit: cover;
            };

        }

        &_15 {
            &_img_0 {

                aspect-ratio: 2.5/1;
                width: 100%;
                grid-column-start: 1;
                grid-row-start: 1;
                grid-column-end: 4;
                grid-row-end: 2;
                object-fit: cover;
            };

            &_img_1 {
                height: 682px;
                width: 100%;
                grid-column-start: 1;
                grid-column-end: 3;
                grid-row-start: 2;
                grid-row-end: 3;
                object-fit: cover;
            };
            
            &_img_2 {
                height: 682px;
                width: 100%;
                grid-column-start: 3;
                grid-column-end: 4;
                grid-row-start: 2;
                grid-row-end: 3;
                object-fit: cover;
            };

            &_img_3 {

                height: 682px;
                width: 100%;
                grid-column-start: 1;
                grid-row-start: 3;
                grid-column-end: 2;
                grid-row-end: 4;
                object-fit: cover;
            };

            &_img_4 {
                height: 682px;
                width: 100%;
                grid-column-start: 2;
                grid-row-start: 3;
                grid-column-end: 3;
                grid-row-end: 4;
                object-fit: cover;
            };

            &_img_5 {
                height: 682px;
                width: 100%;
                grid-column-start: 3;
                grid-row-start: 3;
                grid-column-end: 4;
                grid-row-end: 4;
                object-fit: cover;
            };

            &_img_6 {
                height: 682px;
                width: 100%;
                grid-column-start: 1;
                grid-row-start: 4;
                grid-column-end: 2;
                grid-row-end: 5;
                object-fit: cover;
            };

            &_img_7 {
                height: 682px;
                width: 100%;
                grid-column-start: 2;
                grid-row-start: 4;
                grid-column-end: 4;
                grid-row-end: 5;
                object-fit: cover;
            };

            &_img_8 {
                height: 682px;
                width: 100%;
                grid-column-start: 1;
                grid-row-start: 5;
                grid-column-end: 2;
                grid-row-end: 6;
                object-fit: cover;
            };
            &_img_9 {
                height: 682px;
                width: 100%;
                grid-column-start: 2;
                grid-row-start: 5;
                grid-column-end: 3;
                grid-row-end: 6;
                object-fit: cover;
            };
            &_img_10 {
                height: 682px;
                width: 100%;
                grid-column-start: 3;
                grid-row-start: 5;
                grid-column-end: 4;
                grid-row-end: 6;
                object-fit: cover;
            };
        }
    }


    &_pressBlocks {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 100%;
        background-color: $colorSecond;
        color: $colorLightGrey;

        h4 {
            font-family: 'SpecialFont';
            font-size: 30px;
            text-align: start;
            margin: 22px auto;
        }

        &_container {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            margin: auto;
            padding: 54px 0;
            width: 80%;
            grid-gap: 54px;

            &_item {
                list-style-type: none;
                display: flex;
                flex-direction: column;

                h5 {
                    font-family: 'SpecialFont';
                    font-size: 22px;
                    text-align:center;
                    margin: 16px 0;
                }
                p {
                    font-size: 16px;
                    font-family: 'MainFont_lightItalic';
                    margin: 3px 0;
                    text-align:center;
                }

                a {
                    font-size: 16px;
                    font-family: 'MainFont_light';
                    margin: 16px auto;
                    text-align: center;
                    color: $colorLightGrey;
                }
            }
        }
    }

    &_makingOfImageContainer {
        background: $colorDarkGrey;
        
        
        &_collapseButton {
            width: 100%;
            border: none;
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin: 0 auto;
            column-gap: 19px;
            background: $colorDarkGrey;
            &:hover {
                cursor: pointer;
            }

            p {
                color: $colorLightGrey;
                font-family: 'SpecialFont';
                font-size: 30px;
                padding-top: 22px;
                padding-bottom: 22px;
            }
            &_icon--closed {
                font-size: 19px;
                color: $colorLightGrey;
                margin: auto 0px;
                animation: closeCollapse 0.5s ease forwards;
            }
            &_icon--opened {
                font-size: 19px;
                color: $colorLightGrey;
                margin: auto 0px;
                animation: openCollapse 0.5s ease forwards;
            }
            
        }

        &_carrousel {

            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            margin: auto;
            overflow: scroll;
            width: 70%;
            gap: 16px;
            // margin-bottom: 22px;

            img {
                object-fit: cover;
                margin: auto;
                height: 100%;
                width: 100%;
            }
        
            &--opened {
                animation: openCarrousel 1s ease forwards;
            }
            
            &--closed {
                animation: closeCarrousel 1s ease forwards;
            }
        }

        &_imageFocusContainer {

            &--displayOn {
                position: fixed;
                display: flex;
                flex-direction: row;
                z-index: 3;
                background-color: rgba($color: #000000, $alpha: 0.8);
                top: 0;
                left: 0;
                width: 100vw;
                height: 100vh;
            }

            &--displayOff {
                display: none;
            }
        }
    }

    &_diffBlock {
        display: flex;
        flex-direction: column;
        margin: 54px auto;

        h4 {
            font-family: 'SpecialFont';
            font-size: 30px;
            text-align: start;
            margin: 22px auto;
        }

        &_list {
            list-style-type: none;
            margin: 54px auto;
            overflow: scroll;
            &_item {
                a {
                    color: $colorDarkGrey;
                    font-family: 'MainFont_bold';
                    text-decoration: none;
                    &:hover {
                        color: $colorSecond;
                    }
                }
            }
        }
    }
}