@import '../../utils/mixins';

.homePage {
        width: 100vw;
        height: 100vh;
        display: flex;
        position: fixed;
        top: 0;
        left: 0;

    &_loader {

        &--displayOn {
            display: flex;
            z-index: 2;
        }
        &--displayOff {
            display: none;
        }
    }
    
    &_image {

        width: 100%;
        height: 100%;
        // filter: brightness(0.5);
        
        // position: fixed;
        object-fit: cover;
        // top: 0;
        // left: 0;    

        &--blackBg {
            background-color: $colorDarkGrey;
        }
    }

    &_button {
        
        a {
            padding: 0 25px;
            width: 500px;
            background-color: $colorFirst;
            border: none;
            font-family: 'SpecialFont';
            text-decoration: none;
            color: $colorDarkGrey;
            top: 80%;
            left: 20%;
            transform: translate(-50%, -50%);
            position: fixed;
            margin: auto;

            h1 {
                font-size: 35px;
            }

        &:hover {
            cursor: pointer;
            color: $colorLightGrey;
            background-color: $colorDarkGrey;
        }
    }
    }
}