@charset "UTF-8";
/*---------------
----- FONTS -----
---------------*/
@font-face {
  font-family: "SpecialFont";
  src: url("../../public/assets/fonts/Mermaid1001.ttf") format("truetype");
  /* Ajouter ici les autres formats de police (.woff2, .ttf, .eot, etc.) pour la compatibilité des navigateurs */
}
@font-face {
  font-family: "MainFont_light";
  src: url("../../public/assets/fonts/ProximaNova-Light.ttf") format("truetype");
  /* Ajouter ici les autres formats de police (.woff2, .ttf, .eot, etc.) pour la compatibilité des navigateurs */
}
@font-face {
  font-family: "MainFont_lightItalic";
  src: url("../../public/assets/fonts/ProximaNova-LightIt.ttf") format("truetype");
  /* Ajouter ici les autres formats de police (.woff2, .ttf, .eot, etc.) pour la compatibilité des navigateurs */
}
@font-face {
  font-family: "MainFont_bold";
  src: url("../../public/assets/fonts/ProximaNova-Bold.ttf") format("truetype");
  /* Ajouter ici les autres formats de police (.woff2, .ttf, .eot, etc.) pour la compatibilité des navigateurs */
}
/*----------------
----- MIXINS -----
----------------*/
/*-------------------
----- VARIABLES -----
-------------------*/
/*-------------------
----- KEYFRAMES -----
-------------------*/
@-webkit-keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
@-webkit-keyframes heightRetract {
  0% {
    padding-top: 0%;
    padding-bottom: 0%;
  }
  25% {
    padding-top: 0%;
    padding-bottom: 0%;
  }
  100% {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
@keyframes heightRetract {
  0% {
    padding-top: 0%;
    padding-bottom: 0%;
  }
  25% {
    padding-top: 0%;
    padding-bottom: 0%;
  }
  100% {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
@-webkit-keyframes heightRetractInvert {
  0% {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  100% {
    padding-top: 0;
    padding-bottom: 0;
  }
}
@keyframes heightRetractInvert {
  0% {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  100% {
    padding-top: 0;
    padding-bottom: 0;
  }
}
@-webkit-keyframes navOpen {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes navOpen {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes navOpenInvert {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes navOpenInvert {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes showHamburger {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes showHamburger {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes hideHamburger {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes hideHamburger {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes openHeader {
  0% {
    height: 30px;
  }
  100% {
    height: 98px;
  }
}
@keyframes openHeader {
  0% {
    height: 30px;
  }
  100% {
    height: 98px;
  }
}
@-webkit-keyframes closeHeader {
  0% {
    height: 98px;
  }
  100% {
    height: 30px;
  }
}
@keyframes closeHeader {
  0% {
    height: 98px;
  }
  100% {
    height: 30px;
  }
}
@-webkit-keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@-webkit-keyframes closeCollapse {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes closeCollapse {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@-webkit-keyframes openCollapse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@keyframes openCollapse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@-webkit-keyframes openCollapseChildren {
  0% {
    height: 0%;
    opacity: 0;
    padding-bottom: 0px;
    display: none;
  }
  50% {
    height: auto;
    opacity: 0;
    padding-bottom: 54px;
  }
  100% {
    height: auto;
    opacity: 1;
    padding-bottom: 54px;
  }
}
@keyframes openCollapseChildren {
  0% {
    height: 0%;
    opacity: 0;
    padding-bottom: 0px;
    display: none;
  }
  50% {
    height: auto;
    opacity: 0;
    padding-bottom: 54px;
  }
  100% {
    height: auto;
    opacity: 1;
    padding-bottom: 54px;
  }
}
@-webkit-keyframes closeCollapseChildren {
  0% {
    height: auto;
    opacity: 1;
    padding-bottom: 54px;
  }
  50% {
    height: auto;
    opacity: 0;
    padding-bottom: 54px;
  }
  100% {
    height: 0px;
    opacity: 0;
    padding-bottom: 0px;
    display: none;
  }
}
@keyframes closeCollapseChildren {
  0% {
    height: auto;
    opacity: 1;
    padding-bottom: 54px;
  }
  50% {
    height: auto;
    opacity: 0;
    padding-bottom: 54px;
  }
  100% {
    height: 0px;
    opacity: 0;
    padding-bottom: 0px;
    display: none;
  }
}
@-webkit-keyframes appearOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes appearOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.projectForm {
  display: flex;
  flex-direction: column;
  width: 80vw;
  height: 100%;
  margin: 5vh auto;
  background: #E9E9E9;
  padding: 16px 46px;
  box-sizing: border-box;
  overflow: scroll;
  font-family: "MainFont_bold";
  position: relative;
  -webkit-animation: appearOpacity 2s ease forwards;
          animation: appearOpacity 2s ease forwards;
}
.projectForm_stickyCancelButton {
  width: auto;
  display: flex;
  color: #0c0c0c;
  background: none;
  border: none;
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
}
.projectForm_stickyCancelButton_icon {
  height: 2em;
}
.projectForm_stickyCancelButton_icon:hover {
  cursor: pointer;
}
.projectForm_welcomeContainer {
  width: 70%;
  margin: 54px auto;
  background-color: rgb(255, 206, 213);
}
.projectForm_welcomeContainer_mainWelcome {
  font-family: "SpecialFont";
  font-size: 35px;
  padding: 10px;
  margin: 62px auto 35px auto;
  text-align: center;
  color: #E9E9E9;
  background-color: #0c0c0c;
  width: 40%;
  rotate: -5deg;
  filter: drop-shadow(10px 10px 0px rgb(255, 242, 0));
}
.projectForm_welcomeContainer_imageWelcome {
  display: flex;
  width: 200px;
  margin: 0 auto 54px auto;
}
.projectForm_welcomeContainer_secondWelcome {
  font-family: "MainFont_light";
  text-align: center;
  margin-bottom: 54px;
  color: #E9E9E9;
}
.projectForm_mainInfosContainer {
  width: 70%;
  margin: auto;
  flex-direction: column;
  justify-content: space-between;
  -moz-column-gap: 54px;
       column-gap: 54px;
  display: flex;
}
.projectForm_mainInfosContainer_textField, .projectForm_mainInfosContainer_arrayField {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 0;
  box-sizing: border-box;
}
.projectForm_mainInfosContainer_textField label, .projectForm_mainInfosContainer_arrayField label {
  width: 50%;
}
.projectForm_mainInfosContainer_textField input, .projectForm_mainInfosContainer_textField #inputProjectType, .projectForm_mainInfosContainer_arrayField input, .projectForm_mainInfosContainer_arrayField #inputProjectType {
  border: none;
  background-color: rgb(255, 242, 0);
  font-family: "MainFont_light";
  font-size: 16px;
  width: 70%;
}
.projectForm_imagesFieldsContainer {
  width: 70%;
  margin: auto;
}
.projectForm_imagesFieldsContainer_projectImagesContainer, .projectForm_imagesFieldsContainer_makingOfImagesContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin: 30px auto 0 auto;
  box-sizing: border-box;
}
.projectForm_imagesFieldsContainer_projectImagesContainer_imageField, .projectForm_imagesFieldsContainer_makingOfImagesContainer_imageField {
  display: flex;
  flex-direction: column;
  vertical-align: middle;
  height: auto;
}
.projectForm_imagesFieldsContainer_projectImagesContainer_imageField label, .projectForm_imagesFieldsContainer_makingOfImagesContainer_imageField label {
  margin: auto;
  margin: auto;
  font-family: "SpecialFont";
  color: #E9E9E9;
  background-color: #0c0c0c;
  font-size: 25px;
  padding: 10px;
  border: none;
  font-family: "MainFont_light";
  font-size: 16px;
}
.projectForm_imagesFieldsContainer_projectImagesContainer_imageField label:hover, .projectForm_imagesFieldsContainer_makingOfImagesContainer_imageField label:hover {
  color: #0c0c0c;
  background-color: rgb(255, 242, 0);
  cursor: pointer;
}
.projectForm_imagesFieldsContainer_projectImagesContainer_imageField input, .projectForm_imagesFieldsContainer_makingOfImagesContainer_imageField input {
  border: none;
  background-color: rgb(255, 242, 0);
  font-family: "MainFont_light";
  font-size: 16px;
  margin-right: 12px;
  width: auto;
}
.projectForm_imagesFieldsContainer_projectImagesContainer_imageField_sampleContainer, .projectForm_imagesFieldsContainer_makingOfImagesContainer_imageField_sampleContainer {
  margin: auto;
}
.projectForm_imagesFieldsContainer_projectImagesContainer_imageField_sampleContainer img, .projectForm_imagesFieldsContainer_makingOfImagesContainer_imageField_sampleContainer img {
  width: 300px;
  margin: 30px auto;
}
.projectForm_imagesFieldsContainer_projectImagesContainer_imageField_sampleContainer_buttonsSystem--displayOn, .projectForm_imagesFieldsContainer_makingOfImagesContainer_imageField_sampleContainer_buttonsSystem--displayOn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  -moz-column-gap: 25px;
       column-gap: 25px;
  margin-bottom: 25px;
}
.projectForm_imagesFieldsContainer_projectImagesContainer_imageField_sampleContainer_buttonsSystem--displayOn button, .projectForm_imagesFieldsContainer_makingOfImagesContainer_imageField_sampleContainer_buttonsSystem--displayOn button {
  margin: auto;
  font-family: "SpecialFont";
  color: #E9E9E9;
  background-color: #0c0c0c;
  font-size: 25px;
  padding: 10px;
  border: none;
  font-size: 16px;
  font-family: "MainFont_light";
}
.projectForm_imagesFieldsContainer_projectImagesContainer_imageField_sampleContainer_buttonsSystem--displayOn button:hover, .projectForm_imagesFieldsContainer_makingOfImagesContainer_imageField_sampleContainer_buttonsSystem--displayOn button:hover {
  color: #0c0c0c;
  background-color: rgb(255, 242, 0);
  cursor: pointer;
}
.projectForm_imagesFieldsContainer_projectImagesContainer_imageField_sampleContainer_buttonsSystem--displayOff, .projectForm_imagesFieldsContainer_makingOfImagesContainer_imageField_sampleContainer_buttonsSystem--displayOff {
  display: none;
}
.projectForm_imagesFieldsContainer_projectImagesContainer p, .projectForm_imagesFieldsContainer_makingOfImagesContainer p {
  font-family: "MainFont_bold";
  margin: 16px auto;
}
.projectForm_imagesFieldsContainer_makingOfImagesContainer {
  background-color: rgb(255, 242, 0);
  padding-bottom: 54px;
}
.projectForm_imagesFieldsContainer_makingOfImagesContainer p {
  padding: 30px;
  margin: auto;
  box-sizing: border-box;
}
.projectForm_imagesFieldsContainer_makingOfImagesContainer_imageField {
  margin: 54px auto 0 auto;
}
.projectForm_imagesFieldsContainer_makingOfImagesContainer_imageField label {
  background-color: #E9E9E9;
}
.projectForm_imagesFieldsContainer_projectImagesContainer_imageField {
  margin: 54px auto;
}
.projectForm_descriptionsContainer {
  width: 70%;
  margin: 30px auto 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 35px;
}
.projectForm_descriptionsContainer_textField {
  margin: 10px 0;
  box-sizing: border-box;
  width: 100%;
}
.projectForm_descriptionsContainer_textField_textarea {
  border: none;
  background-color: rgb(255, 242, 0);
  font-family: "MainFont_light";
  font-size: 16px;
  margin-right: 12px;
  padding: 16px;
  box-sizing: border-box;
  width: auto;
  max-width: 100%;
  min-width: 100%;
  height: 200px;
  resize: vertical;
  line-height: 100%;
}
.projectForm_arraysContainer {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.projectForm_arraysContainer_arrayField {
  margin: 30px auto 0 auto;
  box-sizing: border-box;
  width: 100%;
}
.projectForm_arraysContainer_arrayField p {
  margin-bottom: 25px;
}
.projectForm_arraysContainer_arrayField_fields {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  -moz-column-gap: 5px;
       column-gap: 5px;
  width: 100%;
  margin-top: 8px;
}
.projectForm_arraysContainer_arrayField_fields_line {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  -moz-column-gap: 5px;
       column-gap: 5px;
  width: 100%;
}
.projectForm_arraysContainer_arrayField_fields_line label {
  font-size: 16px;
  line-height: 200%;
  font-family: "MainFont_bold";
  width: auto;
}
.projectForm_arraysContainer_arrayField_fields_line input {
  width: 100%;
  box-sizing: border-box;
}
.projectForm_arraysContainer_arrayField input, .projectForm_arraysContainer_arrayField_textarea, .projectForm_arraysContainer_arrayField select {
  border: none;
  background-color: rgb(255, 242, 0);
  font-family: "MainFont_light";
  font-size: 16px;
  margin-right: 6px;
}
.projectForm_arraysContainer_arrayField input, .projectForm_arraysContainer_arrayField_textarea {
  width: 95%;
}
.projectForm_arraysContainer_arrayField select {
  width: 95%;
}
.projectForm_arraysContainer_arrayField button {
  margin: auto;
  font-family: "SpecialFont";
  color: #E9E9E9;
  font-size: 25px;
  padding: 10px;
  border: none;
  background-color: #0c0c0c;
  font-family: "MainFont_light";
  font-size: 16px;
  line-height: 50%;
  height: auto;
  margin-top: 16px;
  margin-bottom: 0;
}
.projectForm_arraysContainer_arrayField button:hover {
  color: #E9E9E9;
  background-color: #0c0c0c;
  cursor: pointer;
}
.projectForm_arraysContainer_arrayField_textarea {
  height: auto;
  line-height: 100%;
  resize: vertical;
}
.projectForm_buttons {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 25px;
       column-gap: 25px;
  margin: 98px auto 132px auto;
}
.projectForm_buttons button {
  margin: auto;
  font-family: "SpecialFont";
  color: #E9E9E9;
  background-color: #0c0c0c;
  font-size: 25px;
  padding: 10px;
  border: none;
}
.projectForm_buttons button:hover {
  color: #0c0c0c;
  background-color: rgb(255, 242, 0);
  cursor: pointer;
}
.projectForm_loaderContainer--displayOn {
  display: block;
}
.projectForm_loaderContainer--displayOff {
  display: none;
}/*# sourceMappingURL=ProjectForm.css.map */