@import '../../utils/mixins';

.footer {
    height: auto;
    padding: 16px 0;
    box-sizing: border-box;
    border-top: 1px solid $colorDarkGrey;
    border-bottom: 1px solid $colorDarkGrey;
    margin: 54px 0 16px 0;

    &_list {
        display: flex;
        flex-direction: row;
        height: 100%;
        column-gap: 25px;
       
        &_item {
            height: 70%;
            margin: auto 0;
            list-style-type: none;
            a {
                display: flex;
                flex-direction: column;
                justify-content: center;
                row-gap: 3px;
                text-decoration: none;
                &:hover {
                    background-color: $colorThird;
                    cursor: pointer;
                }

                img {
                    height: 140px;
                    width: 298px;
                    object-fit: cover;
                 }
     
                p {
                    font-family: 'SpecialFont';
                    color: $colorDarkGrey;
                    font-size: 16px;
                }
            }   
        }
    }
}