@import '../../utils/mixins';

.footer {
    height: auto;
    padding: 0 54px 0 54px;
    box-sizing: border-box;
    background-color: $colorFirst;
    // border-top: 1px solid $colorDarkGrey;
    margin-top: 98px;
    @media only screen and (min-width: $padMinWidth) and (max-width: $padMaxWidth){
        display: none;
    }
    
    @media only screen and (max-width:$mobileMaxWidth){
        display: none;
    } 

    &--displayOff {
        display: none;
    } 

    &_list {
        display: flex;
        flex-direction: row;
        height: 100%;
        column-gap: 25px;
        padding: 0;
        margin: 0;
        // overflow: scroll;

       
        &_item {
            // height: 70%;
            padding: 21px 0 12px 0;
            margin: auto 0;
            list-style-type: none;
            height: 100%;


            &--selected {
                background-color: $colorLightGrey;
            }

            &:hover {
                background-color: $colorLightGrey;
                cursor: pointer;
            }
            a {
                display: flex;
                flex-direction: column;
                justify-content: center;
                row-gap: 3px;
                text-decoration: none;
                height: 100%;
                
                

                img {
                    
                    width: 132px;
                    aspect-ratio: 2/1;
                    object-fit: cover;
                    
                 }
     
                p {
                    font-family: 'SpecialFont';
                    color: $colorDarkGrey;
                    font-size: 16px;
                    margin: 9px 3px 0px 3px;
                    width: 132px;
                    height: 30px;
                    overflow: hidden;
                    
                }
            }   
        }
    }
}