@charset "UTF-8";
/*---------------
----- FONTS -----
---------------*/
@font-face {
  font-family: "SpecialFont";
  src: url("../../public/assets/fonts/Mermaid1001.ttf") format("truetype");
  /* Ajouter ici les autres formats de police (.woff2, .ttf, .eot, etc.) pour la compatibilité des navigateurs */
}
@font-face {
  font-family: "MainFont_light";
  src: url("../../public/assets/fonts/ProximaNova-Light.ttf") format("truetype");
  /* Ajouter ici les autres formats de police (.woff2, .ttf, .eot, etc.) pour la compatibilité des navigateurs */
}
@font-face {
  font-family: "MainFont_lightItalic";
  src: url("../../public/assets/fonts/ProximaNova-LightIt.ttf") format("truetype");
  /* Ajouter ici les autres formats de police (.woff2, .ttf, .eot, etc.) pour la compatibilité des navigateurs */
}
@font-face {
  font-family: "MainFont_bold";
  src: url("../../public/assets/fonts/ProximaNova-Bold.ttf") format("truetype");
  /* Ajouter ici les autres formats de police (.woff2, .ttf, .eot, etc.) pour la compatibilité des navigateurs */
}
/*----------------
----- MIXINS -----
----------------*/
/*-------------------
----- VARIABLES -----
-------------------*/
/*-------------------
----- KEYFRAMES -----
-------------------*/
@-webkit-keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
@-webkit-keyframes heightRetract {
  0% {
    padding-top: 0%;
    padding-bottom: 0%;
  }
  25% {
    padding-top: 0%;
    padding-bottom: 0%;
  }
  100% {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
@keyframes heightRetract {
  0% {
    padding-top: 0%;
    padding-bottom: 0%;
  }
  25% {
    padding-top: 0%;
    padding-bottom: 0%;
  }
  100% {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
@-webkit-keyframes heightRetractInvert {
  0% {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  100% {
    padding-top: 0;
    padding-bottom: 0;
  }
}
@keyframes heightRetractInvert {
  0% {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  100% {
    padding-top: 0;
    padding-bottom: 0;
  }
}
@-webkit-keyframes navOpen {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes navOpen {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes navOpenInvert {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes navOpenInvert {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes showHamburger {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes showHamburger {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes hideHamburger {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes hideHamburger {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes openHeader {
  0% {
    height: 30px;
  }
  100% {
    height: 98px;
  }
}
@keyframes openHeader {
  0% {
    height: 30px;
  }
  100% {
    height: 98px;
  }
}
@-webkit-keyframes closeHeader {
  0% {
    height: 98px;
  }
  100% {
    height: 30px;
  }
}
@keyframes closeHeader {
  0% {
    height: 98px;
  }
  100% {
    height: 30px;
  }
}
@-webkit-keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@-webkit-keyframes closeCollapse {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes closeCollapse {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@-webkit-keyframes openCollapse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@keyframes openCollapse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@-webkit-keyframes openCarrousel {
  0% {
    height: 0%;
    opacity: 0;
    padding-bottom: 0px;
  }
  50% {
    height: auto;
    opacity: 0;
    padding-bottom: 54px;
  }
  100% {
    height: auto;
    opacity: 1;
    padding-bottom: 54px;
  }
}
@keyframes openCarrousel {
  0% {
    height: 0%;
    opacity: 0;
    padding-bottom: 0px;
  }
  50% {
    height: auto;
    opacity: 0;
    padding-bottom: 54px;
  }
  100% {
    height: auto;
    opacity: 1;
    padding-bottom: 54px;
  }
}
@-webkit-keyframes closeCarrousel {
  0% {
    height: auto;
    opacity: 1;
    padding-bottom: 54px;
  }
  50% {
    height: auto;
    opacity: 0;
    padding-bottom: 54px;
  }
  100% {
    height: 0px;
    opacity: 0;
    padding-bottom: 0px;
  }
}
@keyframes closeCarrousel {
  0% {
    height: auto;
    opacity: 1;
    padding-bottom: 54px;
  }
  50% {
    height: auto;
    opacity: 0;
    padding-bottom: 54px;
  }
  100% {
    height: 0px;
    opacity: 0;
    padding-bottom: 0px;
  }
}
.footer {
  height: auto;
  padding: 16px 0;
  box-sizing: border-box;
  border-top: 1px solid #0c0c0c;
  border-bottom: 1px solid #0c0c0c;
  margin: 54px 0 16px 0;
}
.footer_list {
  display: flex;
  flex-direction: row;
  height: 100%;
  -moz-column-gap: 25px;
       column-gap: 25px;
}
.footer_list_item {
  height: 70%;
  margin: auto 0;
  list-style-type: none;
}
.footer_list_item a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 3px;
  text-decoration: none;
}
.footer_list_item a:hover {
  background-color: rgb(131, 109, 255);
  cursor: pointer;
}
.footer_list_item a img {
  height: 140px;
  width: 298px;
  -o-object-fit: cover;
     object-fit: cover;
}
.footer_list_item a p {
  font-family: "SpecialFont";
  color: #0c0c0c;
  font-size: 16px;
}/*# sourceMappingURL=Footer.css.map */