@charset "UTF-8";
/*---------------
----- FONTS -----
---------------*/
@font-face {
  font-family: "SpecialFont";
  src: url("../../public/assets/fonts/Mermaid1001.ttf") format("truetype");
  /* Ajouter ici les autres formats de police (.woff2, .ttf, .eot, etc.) pour la compatibilité des navigateurs */
}
@font-face {
  font-family: "MainFont_light";
  src: url("../../public/assets/fonts/ProximaNova-Light.ttf") format("truetype");
  /* Ajouter ici les autres formats de police (.woff2, .ttf, .eot, etc.) pour la compatibilité des navigateurs */
}
@font-face {
  font-family: "MainFont_lightItalic";
  src: url("../../public/assets/fonts/ProximaNova-LightIt.ttf") format("truetype");
  /* Ajouter ici les autres formats de police (.woff2, .ttf, .eot, etc.) pour la compatibilité des navigateurs */
}
@font-face {
  font-family: "MainFont_bold";
  src: url("../../public/assets/fonts/ProximaNova-Bold.ttf") format("truetype");
  /* Ajouter ici les autres formats de police (.woff2, .ttf, .eot, etc.) pour la compatibilité des navigateurs */
}
/*----------------
----- MIXINS -----
----------------*/
/*-------------------
----- VARIABLES -----
-------------------*/
/*-------------------
----- KEYFRAMES -----
-------------------*/
@-webkit-keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
@-webkit-keyframes heightRetract {
  0% {
    padding-top: 0%;
    padding-bottom: 0%;
  }
  25% {
    padding-top: 0%;
    padding-bottom: 0%;
  }
  100% {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
@keyframes heightRetract {
  0% {
    padding-top: 0%;
    padding-bottom: 0%;
  }
  25% {
    padding-top: 0%;
    padding-bottom: 0%;
  }
  100% {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
@-webkit-keyframes heightRetractInvert {
  0% {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  100% {
    padding-top: 0;
    padding-bottom: 0;
  }
}
@keyframes heightRetractInvert {
  0% {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  100% {
    padding-top: 0;
    padding-bottom: 0;
  }
}
@-webkit-keyframes navOpen {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes navOpen {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes navOpenInvert {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes navOpenInvert {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes showHamburger {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes showHamburger {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes hideHamburger {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes hideHamburger {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes openHeader {
  0% {
    height: 35px;
  }
  100% {
    height: 98px;
  }
}
@keyframes openHeader {
  0% {
    height: 35px;
  }
  100% {
    height: 98px;
  }
}
@-webkit-keyframes closeVerticalHeader {
  0% {
    width: 40%;
  }
  100% {
    width: 35px;
  }
}
@keyframes closeVerticalHeader {
  0% {
    width: 40%;
  }
  100% {
    width: 35px;
  }
}
@-webkit-keyframes openVerticalHeader {
  0% {
    width: 35px;
  }
  100% {
    width: 40%;
  }
}
@keyframes openVerticalHeader {
  0% {
    width: 35px;
  }
  100% {
    width: 40%;
  }
}
@-webkit-keyframes closeHeader {
  0% {
    height: 98px;
  }
  100% {
    height: 35px;
  }
}
@keyframes closeHeader {
  0% {
    height: 98px;
  }
  100% {
    height: 35px;
  }
}
@-webkit-keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@-webkit-keyframes disappearValidBox {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes disappearValidBox {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes darkAppear {
  0% {
    filter: brightness(0);
  }
  20% {
    filter: brightness(0);
  }
  100% {
    filter: brightness(1);
  }
}
@keyframes darkAppear {
  0% {
    filter: brightness(0);
  }
  20% {
    filter: brightness(0);
  }
  100% {
    filter: brightness(1);
  }
}
@-webkit-keyframes closeCollapse {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes closeCollapse {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@-webkit-keyframes openCollapse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@keyframes openCollapse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@-webkit-keyframes openCollapseChildren {
  0% {
    height: 0px;
    opacity: 0;
  }
  50% {
    height: auto;
    opacity: 0;
  }
  100% {
    height: auto;
    opacity: 1;
  }
}
@keyframes openCollapseChildren {
  0% {
    height: 0px;
    opacity: 0;
  }
  50% {
    height: auto;
    opacity: 0;
  }
  100% {
    height: auto;
    opacity: 1;
  }
}
@-webkit-keyframes closeCollapseChildren {
  0% {
    height: auto;
    opacity: 1;
  }
  50% {
    height: auto;
    opacity: 0;
  }
  100% {
    height: 0px;
    opacity: 0;
  }
}
@keyframes closeCollapseChildren {
  0% {
    height: auto;
    opacity: 1;
  }
  50% {
    height: auto;
    opacity: 0;
  }
  100% {
    height: 0px;
    opacity: 0;
  }
}
@-webkit-keyframes appearOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes appearOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.authModal {
  position: fixed;
  z-index: 1;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}
.authModal--displayOff {
  display: none;
}
.authModal--displayOn {
  display: flex;
  flex-direction: column;
}
.authModal_form {
  display: flex;
  flex-direction: column;
  background-color: #E9E9E9;
  width: 30%;
  height: auto;
}
@media only screen and (min-width: 769px) and (max-width: 991px) {
  .authModal_form {
    width: 70%;
  }
}
@media only screen and (max-width: 768px) {
  .authModal_form {
    width: 90%;
  }
}
.authModal_form_usernameField, .authModal_form_passwordField {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto 10px auto;
}
.authModal_form_usernameField label, .authModal_form_passwordField label {
  font-family: "MainFont_light";
  border: none;
  background: none;
  color: #0c0c0c;
  width: 50%;
  margin: 5% auto 0 0;
  padding: 2% 0;
  font-size: 18px;
}
.authModal_form_usernameField input, .authModal_form_passwordField input {
  width: 50%;
  max-width: 100%;
  min-width: 100%;
  height: 25px;
  border: none;
  padding: 10px 0 10px 10px;
  background-color: rgb(255, 181, 192);
  font-family: "MainFont_light";
  box-sizing: border-box;
  font-size: 14px;
}
.authModal_form_button {
  font-family: "MainFont_light";
  border: none;
  background: none;
  color: #0c0c0c;
  width: auto;
  margin: 22px auto;
  height: 35px;
  padding: auto;
  font-size: 18px;
}
.authModal_form_button:hover {
  cursor: pointer;
  color: #E9E9E9;
  background-color: #0c0c0c;
}
.authModal_button {
  font-family: "MainFont_light";
  border: none;
  color: #0c0c0c;
  background-color: #E9E9E9;
  width: auto;
  height: 35px;
  margin: 22px auto 0 auto;
  padding: auto;
  font-size: 18px;
}
.authModal_button:hover {
  cursor: pointer;
  color: #E9E9E9;
  background-color: #0c0c0c;
}/*# sourceMappingURL=AuthModal.css.map */