@import '../../utils/mixins';

.imageFocus {
    display: flex;
    flex-direction: row;
    margin: auto;
    

    img {
        width: 80vw;
        height: 80vh;
        object-fit: cover;
        padding: auto;
    }
    &_icon {
        color: $colorLightGrey;
        font-size: 25px;
        display: flex;
        margin: auto 25px;
        &:hover {
            cursor: pointer;
        }
    }
}