@import '../../utils/mixins';

.imageFocus {
    display: flex;
    flex-direction: row;
    
    margin: auto;
    width: auto;
    @media only screen and (min-width: $padMinWidth) and (max-width: $padMaxWidth){
        width: auto;
    }
    
    @media only screen and (max-width:$mobileMaxWidth){
        width: 90%;
    } 
    
    

    img {
        aspect-ratio: 1;
        height: 80vh;
        object-fit: cover;
        padding: auto;
        margin: auto;
        @media only screen and (min-width: $padMinWidth) and (max-width: $padMaxWidth){
            width: 88%;
            aspect-ratio: 1;
        }
        
        @media only screen and (max-width:$mobileMaxWidth){
            width: 80%;
            height: 60%;
            aspect-ratio: 1;
        } 
    }
    &_icon {
        color: $colorLightGrey;
        font-size: 25px;
        display: flex;
        margin: auto 25px;
        &:hover {
            cursor: pointer;
        }
        @media only screen and (min-width: $padMinWidth) and (max-width: $padMaxWidth){
            font-size: 25px;   
        }
        
        @media only screen and (max-width:$mobileMaxWidth){
            font-size: 16px; 
            margin: auto 5%;  
        } 
    }
}