@import '../../utils/mixins';

.allProjects {

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 4px;

    &_buttonsContainer {

        display: flex;
        flex-direction: row;
        column-gap: 30px;
        margin: 54px;

        
        &_button {
            

            &--notSelected {
                @include Button;
                margin: 0;
            };
            &--selected {
                @include ButtonSelected;
            }
        }
    }

    // &_projectCard {

    //     width: 100%;
    //     height: 490px;
    //     text-decoration: none;
    //     text-align: justify;
    //     color: $colorDarkGrey;
    //     display: flex;
    //     flex-direction: row;
    //     justify-content: space-between;
    //     column-gap: 40px;
    //     box-sizing: border-box;

    //     &:hover {

    //         cursor: pointer;
    //         background-color: $colorFirst;

    //         .allProjects_projectCard_infos {
    //             animation: heightRetract 0.5s ease forwards;
    //         }
    //     }

    //     &_creationDate {
    //         padding-left: 54px;
    //         padding-top: 54px;
    //         width: 1%;
    //     }

        

    //     &_infos {
    //         display: flex;
    //         flex-direction: column;
    //         justify-content: space-between;
    //         margin: auto;
    //         box-sizing: border-box;
    //         border-left: solid 1px $colorDarkGrey;
    //         padding-left: 30px;
    //         width: 40%;
    //         height: 80%;
    //         animation: heightRetractInvert 0.5s ease forwards;
            

    //         &_title {
    //             font-family: 'SpecialFont';
    //             font-size: 50px;
    //         }

    //         &_projectInfos {    
    //             font-family: 'MainFont_bold';
    //             font-size: 19px;
    //         }

    //         &_creationDate {
    //             font-family: 'MainFont_light';
    //             font-size: 19px;
    //             color: $colorDarkGrey;
    //         }

    //         &_summary {   
    //             font-family: 'MainFont_light';
    //             font-size: 16px;
    //             height: 161px;
    //             overflow: scroll;
    //         }

    //     }

    //     &_imageContainer {

    //         width: 60%;
    //         box-sizing: border-box;

    //         img {
    //             width: 100%;
    //             height: 490px;
    //             object-fit: cover;
                
    //         }
            
    //     }

    // }

    &_projectCard {

        width: 100%;
        height: 600px;
        text-decoration: none;
        text-align: justify;
        color: $colorDarkGrey;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        column-gap: 40px;
        position: relative;
        // box-sizing: border-box;

        &:hover {

            cursor: pointer;
            background-color: $colorFirst;

            .allProjects_projectCard_infos {
                color: $colorLightGrey;
                background-color: $colorDarkGrey;
            }
            img {
                filter:grayscale(0);
            }

            // .allProjects_projectCard_infos {
            //     animation: heightRetract 0.5s ease forwards;
            // }
        }

        // &_creationDate {
        //     padding-left: 54px;
        //     padding-top: 54px;
        //     width: 1%;
        //     position: absolute;
        // }

        

        &_infos {
            z-index: 2;
            background-color: $colorFirst;
            position: absolute;
            left: 5%;
            bottom: 10%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: auto;
            box-sizing: border-box;
            row-gap: 16px;
            // border-left: solid 1px $colorDarkGrey;
            padding-left: 30px;
            padding-right: 30px;
            width: 40%;
            height: 45%;
            animation: heightRetractInvert 0.5s ease forwards;
            

            &_title {
                font-family: 'SpecialFont';
                font-size: 50px;
                margin: 0;
            }

            &_projectInfos {    
                font-family: 'MainFont_bold';
                font-size: 19px;
                margin: 0;
            }

            &_creationDate {
                font-family: 'MainFont_light';
                font-size: 14px;
                margin: 0;
                padding: 0;
                margin: 0;
            }

            &_summary {   
                font-family: 'MainFont_light';
                font-size: 14px;
                margin: 0;
                overflow: scroll;
            }

        }

        &_imageContainer {
            z-index: 1;
            width: 100%;
            box-sizing: border-box;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                filter:grayscale(1);
            }
            
        }

    }
}