@charset "UTF-8";
/*---------------
----- FONTS -----
---------------*/
@font-face {
  font-family: "SpecialFont";
  src: url("../../public/assets/fonts/Mermaid1001.ttf") format("truetype");
  /* Ajouter ici les autres formats de police (.woff2, .ttf, .eot, etc.) pour la compatibilité des navigateurs */
}
@font-face {
  font-family: "MainFont_light";
  src: url("../../public/assets/fonts/ProximaNova-Light.ttf") format("truetype");
  /* Ajouter ici les autres formats de police (.woff2, .ttf, .eot, etc.) pour la compatibilité des navigateurs */
}
@font-face {
  font-family: "MainFont_lightItalic";
  src: url("../../public/assets/fonts/ProximaNova-LightIt.ttf") format("truetype");
  /* Ajouter ici les autres formats de police (.woff2, .ttf, .eot, etc.) pour la compatibilité des navigateurs */
}
@font-face {
  font-family: "MainFont_bold";
  src: url("../../public/assets/fonts/ProximaNova-Bold.ttf") format("truetype");
  /* Ajouter ici les autres formats de police (.woff2, .ttf, .eot, etc.) pour la compatibilité des navigateurs */
}
/*----------------
----- MIXINS -----
----------------*/
/*-------------------
----- VARIABLES -----
-------------------*/
/*-------------------
----- KEYFRAMES -----
-------------------*/
@-webkit-keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
@-webkit-keyframes heightRetract {
  0% {
    padding-top: 0%;
    padding-bottom: 0%;
  }
  25% {
    padding-top: 0%;
    padding-bottom: 0%;
  }
  100% {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
@keyframes heightRetract {
  0% {
    padding-top: 0%;
    padding-bottom: 0%;
  }
  25% {
    padding-top: 0%;
    padding-bottom: 0%;
  }
  100% {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
@-webkit-keyframes heightRetractInvert {
  0% {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  100% {
    padding-top: 0;
    padding-bottom: 0;
  }
}
@keyframes heightRetractInvert {
  0% {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  100% {
    padding-top: 0;
    padding-bottom: 0;
  }
}
@-webkit-keyframes navOpen {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes navOpen {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes navOpenInvert {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes navOpenInvert {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes showHamburger {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes showHamburger {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes hideHamburger {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes hideHamburger {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes openHeader {
  0% {
    height: 35px;
  }
  100% {
    height: 98px;
  }
}
@keyframes openHeader {
  0% {
    height: 35px;
  }
  100% {
    height: 98px;
  }
}
@-webkit-keyframes closeVerticalHeader {
  0% {
    width: 40%;
  }
  100% {
    width: 35px;
  }
}
@keyframes closeVerticalHeader {
  0% {
    width: 40%;
  }
  100% {
    width: 35px;
  }
}
@-webkit-keyframes openVerticalHeader {
  0% {
    width: 35px;
  }
  100% {
    width: 40%;
  }
}
@keyframes openVerticalHeader {
  0% {
    width: 35px;
  }
  100% {
    width: 40%;
  }
}
@-webkit-keyframes closeHeader {
  0% {
    height: 98px;
  }
  100% {
    height: 35px;
  }
}
@keyframes closeHeader {
  0% {
    height: 98px;
  }
  100% {
    height: 35px;
  }
}
@-webkit-keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@-webkit-keyframes disappearValidBox {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes disappearValidBox {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes darkAppear {
  0% {
    filter: brightness(0);
  }
  20% {
    filter: brightness(0);
  }
  100% {
    filter: brightness(1);
  }
}
@keyframes darkAppear {
  0% {
    filter: brightness(0);
  }
  20% {
    filter: brightness(0);
  }
  100% {
    filter: brightness(1);
  }
}
@-webkit-keyframes closeCollapse {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes closeCollapse {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@-webkit-keyframes openCollapse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@keyframes openCollapse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@-webkit-keyframes openCollapseChildren {
  0% {
    height: 0px;
    opacity: 0;
  }
  50% {
    height: auto;
    opacity: 0;
  }
  100% {
    height: auto;
    opacity: 1;
  }
}
@keyframes openCollapseChildren {
  0% {
    height: 0px;
    opacity: 0;
  }
  50% {
    height: auto;
    opacity: 0;
  }
  100% {
    height: auto;
    opacity: 1;
  }
}
@-webkit-keyframes closeCollapseChildren {
  0% {
    height: auto;
    opacity: 1;
  }
  50% {
    height: auto;
    opacity: 0;
  }
  100% {
    height: 0px;
    opacity: 0;
  }
}
@keyframes closeCollapseChildren {
  0% {
    height: auto;
    opacity: 1;
  }
  50% {
    height: auto;
    opacity: 0;
  }
  100% {
    height: 0px;
    opacity: 0;
  }
}
@-webkit-keyframes appearOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes appearOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.allProjects {
  -webkit-animation: appearOpacity 2s ease forwards;
          animation: appearOpacity 2s ease forwards;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 4px;
}
@media only screen and (min-width: 769px) and (max-width: 991px) {
  .allProjects {
    margin-left: 50px;
  }
}
@media only screen and (max-width: 768px) {
  .allProjects {
    margin-left: 50px;
  }
}
.allProjects ul {
  list-style: none;
  padding: 0;
}
@media only screen and (max-width: 768px) {
  .allProjects ul {
    display: flex;
    flex-direction: column;
    row-gap: 9px;
  }
}
.allProjects_buttonsContainer {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 30px;
       column-gap: 30px;
  margin: 114px 54px;
}
@media only screen and (min-width: 769px) and (max-width: 991px) {
  .allProjects_buttonsContainer {
    margin: 35px 0 73px 0;
  }
}
@media only screen and (max-width: 768px) {
  .allProjects_buttonsContainer {
    margin: 35px 0 35px 0;
  }
}
.allProjects_buttonsContainer_button {
  list-style-type: none;
}
.allProjects_buttonsContainer_button--notSelected {
  border: none;
  padding: 0;
}
.allProjects_buttonsContainer_button--notSelected h3 {
  margin: 0;
  margin: auto;
  font-family: "SpecialFont";
  color: #E9E9E9;
  background-color: #0c0c0c;
  font-size: 25px;
  padding: 10px;
  border: none;
}
.allProjects_buttonsContainer_button--notSelected h3:hover {
  color: #0c0c0c;
  background-color: rgb(255, 242, 0);
  cursor: pointer;
}
.allProjects_buttonsContainer_button--selected {
  border: none;
  padding: 0;
}
.allProjects_buttonsContainer_button--selected h3 {
  margin: 0;
  font-family: "SpecialFont";
  font-size: 25px;
  padding: 10px;
  border: none;
  color: #0c0c0c;
  background-color: rgb(255, 242, 0);
}
.allProjects_buttonsContainer_button--selected h3:hover {
  cursor: pointer;
}
.allProjects_projectsList {
  display: flex;
  flex-direction: column;
  row-gap: 3px;
}
.allProjects_projectCard {
  padding-left: 54px;
  width: 100%;
  height: 490px;
  text-decoration: none;
  text-align: justify;
  color: #0c0c0c;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  -moz-column-gap: 40px;
       column-gap: 40px;
  box-sizing: border-box;
}
@media only screen and (min-width: 769px) and (max-width: 991px) {
  .allProjects_projectCard {
    padding-left: 0px;
    flex-direction: column;
    height: auto;
    row-gap: 16px;
    margin-bottom: 35px;
  }
}
@media only screen and (max-width: 768px) {
  .allProjects_projectCard {
    padding-left: 0px;
    flex-direction: column;
    height: auto;
    row-gap: 9px;
    margin-bottom: 35px;
  }
}
.allProjects_projectCard:hover {
  cursor: pointer;
  background-color: rgb(255, 242, 0);
}
.allProjects_projectCard:hover .allProjects_projectCard_infos {
  -webkit-animation: heightRetract 0.5s ease forwards;
          animation: heightRetract 0.5s ease forwards;
}
.allProjects_projectCard_creationDate {
  padding-left: 54px;
  padding-top: 54px;
  width: 1%;
  margin: auto;
}
.allProjects_projectCard_infos {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
  width: 40%;
  height: 100%;
  -webkit-animation: heightRetractInvert 0.5s ease forwards;
          animation: heightRetractInvert 0.5s ease forwards;
}
@media only screen and (min-width: 769px) and (max-width: 991px) {
  .allProjects_projectCard_infos {
    width: 95%;
  }
}
@media only screen and (max-width: 768px) {
  .allProjects_projectCard_infos {
    width: 95%;
  }
}
.allProjects_projectCard_infos_title {
  font-family: "SpecialFont";
  font-size: 50px;
  margin: 30px 0 0 0;
  text-align: left;
}
@media only screen and (min-width: 769px) and (max-width: 991px) {
  .allProjects_projectCard_infos_title {
    font-size: 35px;
    margin: 0;
  }
}
@media only screen and (max-width: 768px) {
  .allProjects_projectCard_infos_title {
    font-size: 35px;
    margin: 0;
  }
}
.allProjects_projectCard_infos_subtitle {
  font-family: "MainFont_light";
  font-size: 22px;
}
.allProjects_projectCard_infos_projectInfos {
  font-family: "MainFont_bold";
  font-size: 19px;
  margin: auto 0;
}
@media only screen and (min-width: 769px) and (max-width: 991px) {
  .allProjects_projectCard_infos_projectInfos {
    font-size: 19px;
  }
}
@media only screen and (max-width: 768px) {
  .allProjects_projectCard_infos_projectInfos {
    font-size: 14px;
  }
}
.allProjects_projectCard_infos_creationDate {
  font-family: "MainFont_light";
  font-size: 19px;
  color: #0c0c0c;
  margin: auto 0;
}
.allProjects_projectCard_infos_summary {
  font-family: "MainFont_light";
  font-size: 16px;
  height: 161px;
}
@media only screen and (min-width: 769px) and (max-width: 991px) {
  .allProjects_projectCard_infos_summary {
    height: auto;
  }
}
@media only screen and (max-width: 768px) {
  .allProjects_projectCard_infos_summary {
    display: none;
    height: auto;
  }
}
.allProjects_projectCard_imageContainer {
  width: 60%;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
}
@media only screen and (min-width: 769px) and (max-width: 991px) {
  .allProjects_projectCard_imageContainer {
    width: auto;
    margin-right: 15px;
  }
}
@media only screen and (max-width: 768px) {
  .allProjects_projectCard_imageContainer {
    width: auto;
    margin-right: 15px;
  }
}
.allProjects_projectCard_imageContainer img {
  width: 100%;
  height: 490px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media only screen and (min-width: 769px) and (max-width: 991px) {
  .allProjects_projectCard_imageContainer img {
    height: auto;
    aspect-ratio: 2;
  }
}
@media only screen and (max-width: 768px) {
  .allProjects_projectCard_imageContainer img {
    height: auto;
    aspect-ratio: 2;
  }
}/*# sourceMappingURL=AllProjects.css.map */