@charset "UTF-8";
/*---------------
----- FONTS -----
---------------*/
@font-face {
  font-family: "SpecialFont";
  src: url("../../public/assets/fonts/Mermaid1001.ttf") format("truetype");
  /* Ajouter ici les autres formats de police (.woff2, .ttf, .eot, etc.) pour la compatibilité des navigateurs */
}
@font-face {
  font-family: "MainFont_light";
  src: url("../../public/assets/fonts/ProximaNova-Light.ttf") format("truetype");
  /* Ajouter ici les autres formats de police (.woff2, .ttf, .eot, etc.) pour la compatibilité des navigateurs */
}
@font-face {
  font-family: "MainFont_lightItalic";
  src: url("../../public/assets/fonts/ProximaNova-LightIt.ttf") format("truetype");
  /* Ajouter ici les autres formats de police (.woff2, .ttf, .eot, etc.) pour la compatibilité des navigateurs */
}
@font-face {
  font-family: "MainFont_bold";
  src: url("../../public/assets/fonts/ProximaNova-Bold.ttf") format("truetype");
  /* Ajouter ici les autres formats de police (.woff2, .ttf, .eot, etc.) pour la compatibilité des navigateurs */
}
/*----------------
----- MIXINS -----
----------------*/
/*-------------------
----- VARIABLES -----
-------------------*/
/*-------------------
----- KEYFRAMES -----
-------------------*/
@-webkit-keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
@-webkit-keyframes heightRetract {
  0% {
    padding-top: 0%;
    padding-bottom: 0%;
  }
  25% {
    padding-top: 0%;
    padding-bottom: 0%;
  }
  100% {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
@keyframes heightRetract {
  0% {
    padding-top: 0%;
    padding-bottom: 0%;
  }
  25% {
    padding-top: 0%;
    padding-bottom: 0%;
  }
  100% {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
@-webkit-keyframes heightRetractInvert {
  0% {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  100% {
    padding-top: 0;
    padding-bottom: 0;
  }
}
@keyframes heightRetractInvert {
  0% {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  100% {
    padding-top: 0;
    padding-bottom: 0;
  }
}
@-webkit-keyframes navOpen {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes navOpen {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes navOpenInvert {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes navOpenInvert {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes showHamburger {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes showHamburger {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes hideHamburger {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes hideHamburger {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes openHeader {
  0% {
    height: 30px;
  }
  100% {
    height: 98px;
  }
}
@keyframes openHeader {
  0% {
    height: 30px;
  }
  100% {
    height: 98px;
  }
}
@-webkit-keyframes closeHeader {
  0% {
    height: 98px;
  }
  100% {
    height: 30px;
  }
}
@keyframes closeHeader {
  0% {
    height: 98px;
  }
  100% {
    height: 30px;
  }
}
@-webkit-keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@-webkit-keyframes closeCollapse {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes closeCollapse {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@-webkit-keyframes openCollapse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@keyframes openCollapse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@-webkit-keyframes openCarrousel {
  0% {
    height: 0%;
    opacity: 0;
    padding-bottom: 0px;
  }
  50% {
    height: auto;
    opacity: 0;
    padding-bottom: 54px;
  }
  100% {
    height: auto;
    opacity: 1;
    padding-bottom: 54px;
  }
}
@keyframes openCarrousel {
  0% {
    height: 0%;
    opacity: 0;
    padding-bottom: 0px;
  }
  50% {
    height: auto;
    opacity: 0;
    padding-bottom: 54px;
  }
  100% {
    height: auto;
    opacity: 1;
    padding-bottom: 54px;
  }
}
@-webkit-keyframes closeCarrousel {
  0% {
    height: auto;
    opacity: 1;
    padding-bottom: 54px;
  }
  50% {
    height: auto;
    opacity: 0;
    padding-bottom: 54px;
  }
  100% {
    height: 0px;
    opacity: 0;
    padding-bottom: 0px;
  }
}
@keyframes closeCarrousel {
  0% {
    height: auto;
    opacity: 1;
    padding-bottom: 54px;
  }
  50% {
    height: auto;
    opacity: 0;
    padding-bottom: 54px;
  }
  100% {
    height: 0px;
    opacity: 0;
    padding-bottom: 0px;
  }
}
.allProjects {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 4px;
}
.allProjects_buttonsContainer {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 30px;
       column-gap: 30px;
  margin: 54px;
}
.allProjects_buttonsContainer_button--notSelected {
  margin: auto;
  font-family: "SpecialFont";
  color: #0c0c0c;
  font-size: 25px;
  padding: 10px;
  border: none;
  background-color: rgb(238, 255, 0);
  margin: 0;
}
.allProjects_buttonsContainer_button--notSelected:hover {
  color: #E9E9E9;
  background-color: #0c0c0c;
  cursor: pointer;
}
.allProjects_buttonsContainer_button--selected {
  font-family: "SpecialFont";
  color: #E9E9E9;
  font-size: 25px;
  padding: 10px;
  border: none;
  background-color: #0c0c0c;
}
.allProjects_buttonsContainer_button--selected:hover {
  color: #E9E9E9;
  background-color: #0c0c0c;
  cursor: pointer;
}
.allProjects_projectCard {
  width: 100%;
  height: 490px;
  text-decoration: none;
  text-align: justify;
  color: #0c0c0c;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  -moz-column-gap: 40px;
       column-gap: 40px;
  box-sizing: border-box;
}
.allProjects_projectCard:hover {
  cursor: pointer;
  background-color: rgb(238, 255, 0);
}
.allProjects_projectCard:hover .allProjects_projectCard_infos {
  -webkit-animation: heightRetract 0.5s ease forwards;
          animation: heightRetract 0.5s ease forwards;
}
.allProjects_projectCard_creationDate {
  padding-left: 54px;
  padding-top: 54px;
  width: 1%;
}
.allProjects_projectCard_infos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  box-sizing: border-box;
  border-left: solid 1px #0c0c0c;
  padding-left: 30px;
  width: 40%;
  height: 80%;
  -webkit-animation: heightRetractInvert 0.5s ease forwards;
          animation: heightRetractInvert 0.5s ease forwards;
}
.allProjects_projectCard_infos_title {
  font-family: "SpecialFont";
  font-size: 50px;
}
.allProjects_projectCard_infos_projectInfos {
  font-family: "MainFont_bold";
  font-size: 19px;
}
.allProjects_projectCard_infos_creationDate {
  font-family: "MainFont_light";
  font-size: 19px;
  color: #0c0c0c;
}
.allProjects_projectCard_infos_summary {
  font-family: "MainFont_light";
  font-size: 16px;
  height: 161px;
  overflow: scroll;
}
.allProjects_projectCard_imageContainer {
  width: 60%;
  box-sizing: border-box;
}
.allProjects_projectCard_imageContainer img {
  width: 100%;
  height: 490px;
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=AllProjects.css.map */