@charset "UTF-8";
/*---------------
----- FONTS -----
---------------*/
@font-face {
  font-family: "SpecialFont";
  src: url("../../public/assets/fonts/Mermaid1001.ttf") format("truetype");
  /* Ajouter ici les autres formats de police (.woff2, .ttf, .eot, etc.) pour la compatibilité des navigateurs */
}
@font-face {
  font-family: "MainFont_light";
  src: url("../../public/assets/fonts/ProximaNova-Light.ttf") format("truetype");
  /* Ajouter ici les autres formats de police (.woff2, .ttf, .eot, etc.) pour la compatibilité des navigateurs */
}
@font-face {
  font-family: "MainFont_lightItalic";
  src: url("../../public/assets/fonts/ProximaNova-LightIt.ttf") format("truetype");
  /* Ajouter ici les autres formats de police (.woff2, .ttf, .eot, etc.) pour la compatibilité des navigateurs */
}
@font-face {
  font-family: "MainFont_bold";
  src: url("../../public/assets/fonts/ProximaNova-Bold.ttf") format("truetype");
  /* Ajouter ici les autres formats de police (.woff2, .ttf, .eot, etc.) pour la compatibilité des navigateurs */
}
/*----------------
----- MIXINS -----
----------------*/
/*-------------------
----- VARIABLES -----
-------------------*/
/*-------------------
----- KEYFRAMES -----
-------------------*/
@-webkit-keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
@-webkit-keyframes heightRetract {
  0% {
    padding-top: 0%;
    padding-bottom: 0%;
  }
  25% {
    padding-top: 0%;
    padding-bottom: 0%;
  }
  100% {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
@keyframes heightRetract {
  0% {
    padding-top: 0%;
    padding-bottom: 0%;
  }
  25% {
    padding-top: 0%;
    padding-bottom: 0%;
  }
  100% {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
@-webkit-keyframes heightRetractInvert {
  0% {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  100% {
    padding-top: 0;
    padding-bottom: 0;
  }
}
@keyframes heightRetractInvert {
  0% {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  100% {
    padding-top: 0;
    padding-bottom: 0;
  }
}
@-webkit-keyframes navOpen {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes navOpen {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes navOpenInvert {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes navOpenInvert {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes showHamburger {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes showHamburger {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes hideHamburger {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes hideHamburger {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes openHeader {
  0% {
    height: 35px;
  }
  100% {
    height: 98px;
  }
}
@keyframes openHeader {
  0% {
    height: 35px;
  }
  100% {
    height: 98px;
  }
}
@-webkit-keyframes closeVerticalHeader {
  0% {
    width: 40%;
  }
  100% {
    width: 35px;
  }
}
@keyframes closeVerticalHeader {
  0% {
    width: 40%;
  }
  100% {
    width: 35px;
  }
}
@-webkit-keyframes openVerticalHeader {
  0% {
    width: 35px;
  }
  100% {
    width: 40%;
  }
}
@keyframes openVerticalHeader {
  0% {
    width: 35px;
  }
  100% {
    width: 40%;
  }
}
@-webkit-keyframes closeHeader {
  0% {
    height: 98px;
  }
  100% {
    height: 35px;
  }
}
@keyframes closeHeader {
  0% {
    height: 98px;
  }
  100% {
    height: 35px;
  }
}
@-webkit-keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@-webkit-keyframes disappearValidBox {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes disappearValidBox {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes darkAppear {
  0% {
    filter: brightness(0);
  }
  20% {
    filter: brightness(0);
  }
  100% {
    filter: brightness(1);
  }
}
@keyframes darkAppear {
  0% {
    filter: brightness(0);
  }
  20% {
    filter: brightness(0);
  }
  100% {
    filter: brightness(1);
  }
}
@-webkit-keyframes closeCollapse {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes closeCollapse {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@-webkit-keyframes openCollapse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@keyframes openCollapse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@-webkit-keyframes openCollapseChildren {
  0% {
    height: 0px;
    opacity: 0;
  }
  50% {
    height: auto;
    opacity: 0;
  }
  100% {
    height: auto;
    opacity: 1;
  }
}
@keyframes openCollapseChildren {
  0% {
    height: 0px;
    opacity: 0;
  }
  50% {
    height: auto;
    opacity: 0;
  }
  100% {
    height: auto;
    opacity: 1;
  }
}
@-webkit-keyframes closeCollapseChildren {
  0% {
    height: auto;
    opacity: 1;
  }
  50% {
    height: auto;
    opacity: 0;
  }
  100% {
    height: 0px;
    opacity: 0;
  }
}
@keyframes closeCollapseChildren {
  0% {
    height: auto;
    opacity: 1;
  }
  50% {
    height: auto;
    opacity: 0;
  }
  100% {
    height: 0px;
    opacity: 0;
  }
}
@-webkit-keyframes appearOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes appearOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.header {
  margin: 54px 0 25px 0;
  background-color: rgb(255, 242, 0);
  position: -webkit-sticky; /* Pour la prise en charge de WebKit (Safari, Chrome) */
  position: sticky;
  top: 0px;
  z-index: 3;
}
@media only screen and (min-width: 769px) and (max-width: 991px) {
  .header {
    position: fixed;
    height: 100vh;
  }
}
@media only screen and (max-width: 768px) {
  .header {
    position: fixed;
    height: 100vh;
  }
}
.header--displayOff {
  display: none;
}
.header--open {
  -webkit-animation: openHeader 0.5s ease forwards;
          animation: openHeader 0.5s ease forwards;
  margin: 0;
}
@media only screen and (min-width: 769px) and (max-width: 991px) {
  .header--open {
    -webkit-animation: openVerticalHeader 0.5s ease forwards;
            animation: openVerticalHeader 0.5s ease forwards;
  }
}
@media only screen and (max-width: 768px) {
  .header--open {
    -webkit-animation: openVerticalHeader 0.5s ease forwards;
            animation: openVerticalHeader 0.5s ease forwards;
  }
}
.header--close {
  -webkit-animation: closeHeader 0.5s ease forwards;
          animation: closeHeader 0.5s ease forwards;
  margin: 0;
}
@media only screen and (min-width: 769px) and (max-width: 991px) {
  .header--close {
    -webkit-animation: closeVerticalHeader 0.5s ease forwards;
            animation: closeVerticalHeader 0.5s ease forwards;
  }
}
@media only screen and (max-width: 768px) {
  .header--close {
    -webkit-animation: closeVerticalHeader 0.5s ease forwards;
            animation: closeVerticalHeader 0.5s ease forwards;
  }
}
.header_hamburger {
  height: 100%;
  border: none;
  background: none;
  margin: auto;
}
.header_hamburger_desktop {
  display: flex;
}
@media only screen and (min-width: 769px) and (max-width: 991px) {
  .header_hamburger_desktop {
    display: flex;
  }
}
@media only screen and (max-width: 768px) {
  .header_hamburger_desktop {
    display: flex;
  }
}
.header_hamburger_responsive {
  display: none;
}
@media only screen and (min-width: 769px) and (max-width: 991px) {
  .header_hamburger_responsive {
    display: flex;
  }
}
@media only screen and (max-width: 768px) {
  .header_hamburger_responsive {
    display: flex;
  }
}
.header_hamburger_icon {
  height: 16px;
  margin: auto;
  color: #0c0c0c;
}
.header_hamburger--displayOff {
  -webkit-animation: hideHamburger 0.5s ease forwards;
          animation: hideHamburger 0.5s ease forwards;
  display: none;
}
.header_hamburger--displayOn {
  -webkit-animation: showHamburger 0.5s ease forwards;
          animation: showHamburger 0.5s ease forwards;
}
.header_nav {
  height: 100%;
  flex-direction: row;
  justify-content: space-between;
}
.header_nav--displayOff {
  -webkit-animation: navOpenInvert 0.5s ease forwards;
          animation: navOpenInvert 0.5s ease forwards;
  display: none;
}
.header_nav--displayOn {
  -webkit-animation: navOpen 0.5s ease forwards;
          animation: navOpen 0.5s ease forwards;
  display: flex;
}
@media only screen and (min-width: 769px) and (max-width: 991px) {
  .header_nav {
    flex-direction: column;
    justify-content: center;
    padding-top: 20%;
    padding-bottom: 20%;
    box-sizing: border-box;
  }
}
@media only screen and (max-width: 768px) {
  .header_nav {
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding-top: 20%;
    padding-bottom: 20%;
    box-sizing: border-box;
  }
}
.header_nav_menu {
  display: flex;
  flex-direction: row;
  width: 90%;
  -moz-column-gap: 1vw;
       column-gap: 1vw;
  margin-left: 54px;
}
@media only screen and (min-width: 769px) and (max-width: 991px) {
  .header_nav_menu {
    flex-direction: column;
    row-gap: 16px;
    margin: auto;
    justify-content: center;
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .header_nav_menu {
    flex-direction: column;
    margin: auto;
    row-gap: 16px;
    justify-content: center;
    width: 100%;
  }
}
.header_nav_menu_item {
  display: flex;
  background: none;
  border: none;
  color: #0c0c0c;
  font-family: "SpecialFont";
  text-decoration: none;
  padding: 0;
  margin: auto 0;
  height: 100%;
}
.header_nav_menu_item--displayOn {
  display: flex;
}
.header_nav_menu_item--displayOff {
  display: none;
}
.header_nav_menu_item--selected {
  text-decoration: underline;
}
@media only screen and (min-width: 769px) and (max-width: 991px) {
  .header_nav_menu_item {
    margin: auto;
  }
}
@media only screen and (max-width: 768px) {
  .header_nav_menu_item {
    margin: auto;
  }
}
.header_nav_menu_item p:hover {
  cursor: pointer;
  text-decoration: underline;
}
.header_nav_menu_item h2, .header_nav_menu_item p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #0c0c0c;
  font-family: "SpecialFont";
  font-size: 33px;
  padding: 0 5px;
  margin: 0;
  text-decoration: none;
  height: 100%;
}
@media only screen and (min-width: 769px) and (max-width: 991px) {
  .header_nav_menu_item h2, .header_nav_menu_item p {
    font-size: 35px;
  }
}
@media only screen and (max-width: 768px) {
  .header_nav_menu_item h2, .header_nav_menu_item p {
    font-size: 1.5rem;
  }
}
.header_nav_menu_item h2:hover, .header_nav_menu_item p:hover {
  cursor: pointer;
}
.header_nav_menu_item_dashboardNav {
  opacity: 0.5;
}
.header_nav_socials {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 1.8vw;
       column-gap: 1.8vw;
  margin: auto 54px auto 0px;
  box-sizing: border-box;
}
@media only screen and (min-width: 769px) and (max-width: 991px) {
  .header_nav_socials {
    flex-direction: column;
    margin: auto;
    justify-content: center;
  }
}
@media only screen and (max-width: 768px) {
  .header_nav_socials {
    flex-direction: column;
    margin: auto;
    justify-content: center;
  }
}
.header_nav_socials a svg {
  color: #0c0c0c;
  height: 28px;
  width: 28px;
  margin: auto;
  padding: 4px;
  box-sizing: border-box;
  border-radius: 28px;
}
.header_nav_socials a svg:hover {
  color: rgb(255, 242, 0);
  background-color: #0c0c0c;
}
.header_contactModal--open {
  z-index: 1;
  position: fixed;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
}
.header_contactModal--close {
  display: none;
}/*# sourceMappingURL=Header.css.map */