@charset "UTF-8";
/*---------------
----- FONTS -----
---------------*/
@font-face {
  font-family: "SpecialFont";
  src: url("../../public/assets/fonts/Mermaid1001.ttf") format("truetype");
  /* Ajouter ici les autres formats de police (.woff2, .ttf, .eot, etc.) pour la compatibilité des navigateurs */
}
@font-face {
  font-family: "MainFont_light";
  src: url("../../public/assets/fonts/ProximaNova-Light.ttf") format("truetype");
  /* Ajouter ici les autres formats de police (.woff2, .ttf, .eot, etc.) pour la compatibilité des navigateurs */
}
@font-face {
  font-family: "MainFont_lightItalic";
  src: url("../../public/assets/fonts/ProximaNova-LightIt.ttf") format("truetype");
  /* Ajouter ici les autres formats de police (.woff2, .ttf, .eot, etc.) pour la compatibilité des navigateurs */
}
@font-face {
  font-family: "MainFont_bold";
  src: url("../../public/assets/fonts/ProximaNova-Bold.ttf") format("truetype");
  /* Ajouter ici les autres formats de police (.woff2, .ttf, .eot, etc.) pour la compatibilité des navigateurs */
}
/*----------------
----- MIXINS -----
----------------*/
/*-------------------
----- VARIABLES -----
-------------------*/
/*-------------------
----- KEYFRAMES -----
-------------------*/
@-webkit-keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
@-webkit-keyframes heightRetract {
  0% {
    padding-top: 0%;
    padding-bottom: 0%;
  }
  25% {
    padding-top: 0%;
    padding-bottom: 0%;
  }
  100% {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
@keyframes heightRetract {
  0% {
    padding-top: 0%;
    padding-bottom: 0%;
  }
  25% {
    padding-top: 0%;
    padding-bottom: 0%;
  }
  100% {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
@-webkit-keyframes heightRetractInvert {
  0% {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  100% {
    padding-top: 0;
    padding-bottom: 0;
  }
}
@keyframes heightRetractInvert {
  0% {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  100% {
    padding-top: 0;
    padding-bottom: 0;
  }
}
@-webkit-keyframes navOpen {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes navOpen {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes navOpenInvert {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes navOpenInvert {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes showHamburger {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes showHamburger {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes hideHamburger {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes hideHamburger {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes openHeader {
  0% {
    height: 30px;
  }
  100% {
    height: 98px;
  }
}
@keyframes openHeader {
  0% {
    height: 30px;
  }
  100% {
    height: 98px;
  }
}
@-webkit-keyframes closeHeader {
  0% {
    height: 98px;
  }
  100% {
    height: 30px;
  }
}
@keyframes closeHeader {
  0% {
    height: 98px;
  }
  100% {
    height: 30px;
  }
}
@-webkit-keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@-webkit-keyframes closeCollapse {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes closeCollapse {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@-webkit-keyframes openCollapse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@keyframes openCollapse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@-webkit-keyframes openCarrousel {
  0% {
    height: 0%;
    opacity: 0;
    padding-bottom: 0px;
  }
  50% {
    height: auto;
    opacity: 0;
    padding-bottom: 54px;
  }
  100% {
    height: auto;
    opacity: 1;
    padding-bottom: 54px;
  }
}
@keyframes openCarrousel {
  0% {
    height: 0%;
    opacity: 0;
    padding-bottom: 0px;
  }
  50% {
    height: auto;
    opacity: 0;
    padding-bottom: 54px;
  }
  100% {
    height: auto;
    opacity: 1;
    padding-bottom: 54px;
  }
}
@-webkit-keyframes closeCarrousel {
  0% {
    height: auto;
    opacity: 1;
    padding-bottom: 54px;
  }
  50% {
    height: auto;
    opacity: 0;
    padding-bottom: 54px;
  }
  100% {
    height: 0px;
    opacity: 0;
    padding-bottom: 0px;
  }
}
@keyframes closeCarrousel {
  0% {
    height: auto;
    opacity: 1;
    padding-bottom: 54px;
  }
  50% {
    height: auto;
    opacity: 0;
    padding-bottom: 54px;
  }
  100% {
    height: 0px;
    opacity: 0;
    padding-bottom: 0px;
  }
}
.header {
  margin-bottom: 54px 0 25px 0;
  border-bottom: 1px solid #0c0c0c;
  border-top: 1px solid #0c0c0c;
  background-color: #E9E9E9;
  position: -webkit-sticky; /* Pour la prise en charge de WebKit (Safari, Chrome) */
  position: sticky;
  top: 0px;
  z-index: 3;
}
.header--open {
  -webkit-animation: openHeader 0.5s ease forwards;
          animation: openHeader 0.5s ease forwards;
}
.header--close {
  -webkit-animation: closeHeader 0.5s ease forwards;
          animation: closeHeader 0.5s ease forwards;
}
.header_hamburger {
  height: 100%;
}
.header_hamburger_icon {
  width: 100%;
  margin: auto;
}
.header_hamburger--displayOff {
  -webkit-animation: hideHamburger 0.5s ease forwards;
          animation: hideHamburger 0.5s ease forwards;
  display: none;
}
.header_hamburger--displayOn {
  -webkit-animation: showHamburger 0.5s ease forwards;
          animation: showHamburger 0.5s ease forwards;
  display: flex;
}
.header_nav {
  height: 100%;
  flex-direction: row;
  justify-content: space-between;
}
.header_nav--displayOff {
  -webkit-animation: navOpenInvert 0.5s ease forwards;
          animation: navOpenInvert 0.5s ease forwards;
  display: none;
}
.header_nav--displayOn {
  -webkit-animation: navOpen 0.5s ease forwards;
          animation: navOpen 0.5s ease forwards;
  display: flex;
}
.header_nav_menu {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 54px;
       column-gap: 54px;
  margin-left: 54px;
}
.header_nav_menu_item {
  display: flex;
  background: none;
  border: none;
  color: #0c0c0c;
  font-family: "SpecialFont";
  font-size: 35px;
  text-decoration: none;
  padding: 0;
  margin: auto 0;
}
.header_nav_menu_item p:hover {
  cursor: pointer;
  color: rgb(242, 255, 0);
}
.header_nav_menu_item h2, .header_nav_menu_item p {
  display: flex;
  color: #0c0c0c;
  font-family: "SpecialFont";
  font-size: 35px;
  padding: 0;
  margin: 0;
  text-decoration: none;
  height: 100%;
}
.header_nav_socials {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 54px;
       column-gap: 54px;
  margin: auto 54px auto 0px;
}
.header_nav_socials a svg {
  color: #0c0c0c;
  height: 30px;
  margin: auto;
}
.header_contactModal--open {
  z-index: 1;
  position: fixed;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
}
.header_contactModal--close {
  display: none;
}/*# sourceMappingURL=Header.css.map */