@import '../../utils/mixins';

.header {

   
    margin: 54px 0 25px 0;
    // margin-top: 25px;
    border-bottom: 1px solid $colorDarkGrey;
    // border-top: 1px solid $colorDarkGrey;
    background-color: $colorLightGrey;
    position: -webkit-sticky; /* Pour la prise en charge de WebKit (Safari, Chrome) */
    position: sticky;
    top: 0px;
    z-index: 3;

    &--displayOff {
        display: none;
    }

    &--open {
        animation: openHeader 0.5s ease forwards;
        margin:0;
    }

    &--close {
        animation: closeHeader 0.5s ease forwards;
        margin:0;
    }

    &_hamburger {

        height: 100%;

        &_icon {
            width: 100%;
            margin: auto;
        }

        &--displayOff {
            animation: hideHamburger 0.5s ease forwards;
            display: none;
        }

        &--displayOn {
            animation: showHamburger 0.5s ease forwards;
            display: flex;
        }
    }

    &_nav {
        &--displayOff {
            animation: navOpenInvert 0.5s ease forwards;
            display: none;
        }

        &--displayOn {
            animation: navOpen 0.5s ease forwards;
            display: flex;
        }

        height: 100%;
        flex-direction: row;
        justify-content: space-between;

        &_menu {
            display: flex;
            flex-direction: row;
            column-gap: 54px;
            margin-left: 54px;
            
            &_item {
                display: flex;
                
                background: none;
                border: none;
                color: $colorDarkGrey;
                font-family: 'SpecialFont';
                font-size: 35px;
                text-decoration: none;
                padding: 0;
                margin: auto 0;
                height: 100%;
                
                &--selected {
                    background-color: $colorFirst;
                }

                p:hover {
                    cursor: pointer;
                    // color: $colorLightGrey;
                    // text-decoration: underline;
                    background-color: $colorFirst;
                    
                }

                h2, p {
                display: flex;
                flex-direction: column;
                justify-content: center;
                color: $colorDarkGrey;
                font-family: 'SpecialFont';
                font-size: 35px;
                padding: 0 9px;
                margin: 0;
                text-decoration: none;
                height: 100%;
                }
            }
        }

        &_socials {
            display: flex;
            flex-direction: row;
            column-gap: 46px;
            margin: auto 54px auto 0px;
            box-sizing: border-box;

            a svg {
                color: $colorDarkGrey;
                height: 30px;
                width: 30px;
                margin: auto;
                padding: 6px;
                box-sizing: border-box;
                border-radius: 30px;

                &:hover {
                    color: $colorFirst;
                    background-color: $colorDarkGrey;
                    
                    
                    
                }
            }
        }
    }
    &_contactModal {

        &--open {
            z-index: 1;
            position: fixed;
            align-items: center;
            justify-content: center;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background:rgba(0, 0, 0, 0.8);
            display: flex;
        }
        &--close {
            display: none;
        }
    }
}