@import '../../utils/mixins';

.edit {
    margin: auto 54px;
    display: flex;
    flex-direction: column;


    &_list {

        margin: 54px auto;
        padding: 0;
        width: 80%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        // grid-gap: 25px;
        
        &_item {
            display: flex;
            flex-direction: column;
            row-gap: 12px;

            &_image {
                width: 300px;
                height: 200px;
                object-fit: cover;
            }

            &_title {
                font-family: 'SpecialFont';
                font-size: 25px;
                color: $colorDarkGrey;
                margin: 0;

            }

            &_buttonsBox {
                display: flex;
                flex-direction: row;
                column-gap: 16px;
                margin-bottom: 16px;
                button {
                    font-family: 'MainFont_light';
                    font-size: 16px;
                    background-color: $colorFirst;
                    border: none;
                    &:hover {
                        cursor: pointer;
                        background-color: $colorDarkGrey;
                        color: $colorLightGrey;
                    }
                }
            }
        }
    }

    &_addButton {
        margin: 54px auto;
        @include Button;
    }

    &_form {

        &--displayOn{
            z-index: 1;
            position: fixed;
            align-items: center;
            justify-content: center;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background:rgba(0, 0, 0, 0.8);
        }
        &--displayOff{
            display: none;
        } 
    }

    &_randomImages {
        
        display: flex;
        flex-direction: column;
        

        &_title {
            width: 80%;
            margin: 25px auto;
        }

        &_list {
            width: 80%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            margin: 0 auto 54px auto;
            // grid-template-columns: 1fr 1fr 1fr 1fr;
            // grid-gap: 25px;

            &_item {
                img {
                    width: 200px;
                    margin-bottom: 8px;
                }
            }
        }  
    }
}