@charset "UTF-8";
/*---------------
----- FONTS -----
---------------*/
@font-face {
  font-family: "SpecialFont";
  src: url("../../public/assets/fonts/Mermaid1001.ttf") format("truetype");
  /* Ajouter ici les autres formats de police (.woff2, .ttf, .eot, etc.) pour la compatibilité des navigateurs */
}
@font-face {
  font-family: "MainFont_light";
  src: url("../../public/assets/fonts/ProximaNova-Light.ttf") format("truetype");
  /* Ajouter ici les autres formats de police (.woff2, .ttf, .eot, etc.) pour la compatibilité des navigateurs */
}
@font-face {
  font-family: "MainFont_lightItalic";
  src: url("../../public/assets/fonts/ProximaNova-LightIt.ttf") format("truetype");
  /* Ajouter ici les autres formats de police (.woff2, .ttf, .eot, etc.) pour la compatibilité des navigateurs */
}
@font-face {
  font-family: "MainFont_bold";
  src: url("../../public/assets/fonts/ProximaNova-Bold.ttf") format("truetype");
  /* Ajouter ici les autres formats de police (.woff2, .ttf, .eot, etc.) pour la compatibilité des navigateurs */
}
/*----------------
----- MIXINS -----
----------------*/
/*-------------------
----- VARIABLES -----
-------------------*/
/*-------------------
----- KEYFRAMES -----
-------------------*/
@-webkit-keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
@-webkit-keyframes heightRetract {
  0% {
    padding-top: 0%;
    padding-bottom: 0%;
  }
  25% {
    padding-top: 0%;
    padding-bottom: 0%;
  }
  100% {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
@keyframes heightRetract {
  0% {
    padding-top: 0%;
    padding-bottom: 0%;
  }
  25% {
    padding-top: 0%;
    padding-bottom: 0%;
  }
  100% {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
@-webkit-keyframes heightRetractInvert {
  0% {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  100% {
    padding-top: 0;
    padding-bottom: 0;
  }
}
@keyframes heightRetractInvert {
  0% {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  100% {
    padding-top: 0;
    padding-bottom: 0;
  }
}
@-webkit-keyframes navOpen {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes navOpen {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes navOpenInvert {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes navOpenInvert {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes showHamburger {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes showHamburger {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes hideHamburger {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes hideHamburger {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes openHeader {
  0% {
    height: 30px;
  }
  100% {
    height: 98px;
  }
}
@keyframes openHeader {
  0% {
    height: 30px;
  }
  100% {
    height: 98px;
  }
}
@-webkit-keyframes closeHeader {
  0% {
    height: 98px;
  }
  100% {
    height: 30px;
  }
}
@keyframes closeHeader {
  0% {
    height: 98px;
  }
  100% {
    height: 30px;
  }
}
@-webkit-keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@-webkit-keyframes closeCollapse {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes closeCollapse {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@-webkit-keyframes openCollapse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@keyframes openCollapse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@-webkit-keyframes openCarrousel {
  0% {
    height: 0%;
    opacity: 0;
    padding-bottom: 0px;
  }
  50% {
    height: auto;
    opacity: 0;
    padding-bottom: 54px;
  }
  100% {
    height: auto;
    opacity: 1;
    padding-bottom: 54px;
  }
}
@keyframes openCarrousel {
  0% {
    height: 0%;
    opacity: 0;
    padding-bottom: 0px;
  }
  50% {
    height: auto;
    opacity: 0;
    padding-bottom: 54px;
  }
  100% {
    height: auto;
    opacity: 1;
    padding-bottom: 54px;
  }
}
@-webkit-keyframes closeCarrousel {
  0% {
    height: auto;
    opacity: 1;
    padding-bottom: 54px;
  }
  50% {
    height: auto;
    opacity: 0;
    padding-bottom: 54px;
  }
  100% {
    height: 0px;
    opacity: 0;
    padding-bottom: 0px;
  }
}
@keyframes closeCarrousel {
  0% {
    height: auto;
    opacity: 1;
    padding-bottom: 54px;
  }
  50% {
    height: auto;
    opacity: 0;
    padding-bottom: 54px;
  }
  100% {
    height: 0px;
    opacity: 0;
    padding-bottom: 0px;
  }
}
.edit {
  margin: auto 54px;
  display: flex;
  flex-direction: column;
}
.edit_list {
  margin: auto;
  width: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 25px;
}
.edit_list_item {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
.edit_list_item_image {
  width: 300px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}
.edit_list_item_title {
  font-family: "SpecialFont";
  font-size: 25px;
  color: #0c0c0c;
}
.edit_list_item_buttonsBox {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 16px;
       column-gap: 16px;
}
.edit_list_item_buttonsBox button {
  font-family: "MainFont_light";
  font-size: 16px;
  background-color: rgb(242, 255, 0);
  border: none;
}
.edit_list_item_buttonsBox button:hover {
  cursor: pointer;
  background-color: #0c0c0c;
  color: #E9E9E9;
}
.edit_addButton {
  margin: 85px auto;
  font-family: "SpecialFont";
  color: #0c0c0c;
  font-size: 25px;
  padding: 10px;
  border: none;
  background-color: rgb(242, 255, 0);
}
.edit_addButton:hover {
  color: #E9E9E9;
  background-color: #0c0c0c;
  cursor: pointer;
}
.edit_form--displayOn {
  z-index: 1;
  position: fixed;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}
.edit_form--displayOff {
  display: none;
}/*# sourceMappingURL=Edit.css.map */