@import '../../utils/mixins';

.edit {

    &_form {

        &--displayOn{
            z-index: 1;
            position: fixed;
            align-items: center;
            justify-content: center;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background:rgba(0, 0, 0, 0.8);
        }
        &--displayOff{
            display: none;
        } 
    }

}