@import '../../utils/mixins';

.contactModal {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 50vh;
    background-color: $colorLightGrey;
    margin: auto;
    position: relative;


    &_title {
        display: flex;
        // flex-direction: row;
        justify-content: center;
        width: 100%;
        font-family: 'SpecialFont';
        font-size: 54px;
        margin: 54px auto;
    }

    &_closeButton {
        width: auto;
        display: flex;
        color: $colorDarkGrey;
        background: none;
        border: none;
        position: absolute;
        top: 20px;
        left: 20px;
        
        &_icon {
            height: 2em;
            
            &:hover {
                cursor: pointer;
            }
        }
    }

    &_tel {
        font-family: 'MainFont_bold';
        font-size: 19px;
        margin: 25px 98px;
    }

    &_address, &_mail {
        font-family: 'MainFont_light';
        font-size: 19px;
        margin: 25px 98px;
    }
}