/*---------------
----- FONTS -----
---------------*/
@font-face {
    font-family: 'SpecialFont';
    src: url('../../public/assets/fonts/Mermaid1001.ttf') format('truetype');
    /* Ajouter ici les autres formats de police (.woff2, .ttf, .eot, etc.) pour la compatibilité des navigateurs */
}

@font-face {
    font-family: 'MainFont_light';
    src: url('../../public/assets/fonts/ProximaNova-Light.ttf') format('truetype');
    /* Ajouter ici les autres formats de police (.woff2, .ttf, .eot, etc.) pour la compatibilité des navigateurs */
}

@font-face {
    font-family: 'MainFont_lightItalic';
    src: url('../../public/assets/fonts/ProximaNova-LightIt.ttf') format('truetype');
    /* Ajouter ici les autres formats de police (.woff2, .ttf, .eot, etc.) pour la compatibilité des navigateurs */
}

@font-face {
    font-family: 'MainFont_bold';
    src: url('../../public/assets/fonts/ProximaNova-Bold.ttf') format('truetype');
    /* Ajouter ici les autres formats de police (.woff2, .ttf, .eot, etc.) pour la compatibilité des navigateurs */
}

/*----------------
----- MIXINS -----
----------------*/

@mixin Button {
    margin: auto;
    font-family:'SpecialFont';
    color: $colorLightGrey;
    background-color: $colorDarkGrey;
    font-size: 25px;
    padding: 10px;
    border: none;
   
    // border-radius: 50rem;
    &:hover {
        color: $colorDarkGrey;
        background-color: $colorFirst;
        cursor: pointer;
    }
}

@mixin AddFieldButton {
    margin: auto;
    font-family:'SpecialFont';
    color: $colorLightGrey;
    font-size: 25px;
    padding: 10px;
    border: none;
    background-color: $colorDarkGrey;
    // border-radius: 50rem;
    &:hover {
        color: $colorLightGrey;
        background-color: $colorDarkGrey;
        cursor: pointer;
    }
}


@mixin ButtonSelected {
    // margin: auto;
    font-family:'SpecialFont';
    font-size: 25px;
    padding: 10px;
    border: none;
    color: $colorDarkGrey;
    background-color: $colorFirst;
    // border-radius: 50rem;
    &:hover {
        
        cursor: pointer;
    }
}

@mixin mainGalleryRatio1 {
    width: 100%;
    aspect-ratio: 2.5/1;
}
/*-------------------
----- VARIABLES -----
-------------------*/

$colorLightGrey: #E9E9E9;
$colorDarkGrey: #0c0c0c;
$colorFields: aqua;
// $colorButtons: rgb(96, 54, 151);
$colorFirst: rgb(255, 242, 0);
$colorThird: rgb(65, 65, 65);
$colorSecond: rgb(255, 206, 213);


/*-------------------
----- KEYFRAMES -----
-------------------*/

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

@keyframes heightRetract {
    0% { 
        padding-top: 0%;
        padding-bottom: 0%;
    }
    25% {
        padding-top: 0%;
        padding-bottom: 0%;
       
    }
    100% {
        padding-top: 16px;
        padding-bottom: 16px;
       
    }
}

@keyframes heightRetractInvert {
 
    0% {
        padding-top: 16px;
        padding-bottom: 16px;
       
    }
    100% {
        padding-top: 0;
        padding-bottom: 0;
       
    }
}

@keyframes navOpen {
    0% { 
        opacity: 0;  
    }
    100% {
        opacity: 1;
    }
}

@keyframes navOpenInvert {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes showHamburger {
    0% { 
        opacity: 0;
    }
   
    100% {
        opacity: 1;
    }
}
@keyframes hideHamburger {
    0% { 
        opacity: 1;    
    }
   
    100% {
        opacity: 0;  
    }
}

@keyframes openHeader {
    0% {  
        height: 30px;
    }
    
    100% { 
        height: 98px;
    }
}

@keyframes closeHeader {
    0% {  
        height: 98px;
    }
    
    100% { 
        height: 30px;
    }
}


@keyframes disappear {
    0% {  
        opacity: 1;
    }

    100% { 
        opacity: 0;
        display: none;
    }
}

@keyframes closeCollapse {
    0% {  
        transform: rotate(180deg);
    }

    100% { 
        transform: rotate(0deg);
    }
}

@keyframes openCollapse {
    0% {  
        transform: rotate(0deg);
    }

    100% { 
        transform: rotate(180deg);
    }
}

@keyframes openCollapseChildren {
    0% {  
        height: 0%;
        opacity: 0;
        padding-bottom: 0px;
        display: none;
    }
    50% { 
        height: auto;
        opacity: 0;
        padding-bottom: 54px;
    }

    100% { 
        height: auto;
        opacity: 1;
        padding-bottom: 54px;
    }
}

@keyframes closeCollapseChildren {
    0% {  
        height: auto;
        opacity: 1;
        padding-bottom: 54px;
    }
    50% {  
        height: auto;
        opacity: 0;
        padding-bottom: 54px;
    }

    100% { 
        height: 0px;
        opacity: 0;
        padding-bottom: 0px;
        display: none;
    }
}

@keyframes appearOpacity {
    0% {  
        opacity: 0;
    }
    100% {  
        opacity: 1;
    }

}