/*---------------
----- FONTS -----
---------------*/
@font-face {
    font-family: 'SpecialFont';
    src: url('../../public/assets/fonts/Mermaid1001.ttf') format('truetype');
    /* Ajouter ici les autres formats de police (.woff2, .ttf, .eot, etc.) pour la compatibilité des navigateurs */
}

@font-face {
    font-family: 'MainFont_light';
    src: url('../../public/assets/fonts/ProximaNova-Light.ttf') format('truetype');
    /* Ajouter ici les autres formats de police (.woff2, .ttf, .eot, etc.) pour la compatibilité des navigateurs */
}

@font-face {
    font-family: 'MainFont_lightItalic';
    src: url('../../public/assets/fonts/ProximaNova-LightIt.ttf') format('truetype');
    /* Ajouter ici les autres formats de police (.woff2, .ttf, .eot, etc.) pour la compatibilité des navigateurs */
}

@font-face {
    font-family: 'MainFont_bold';
    src: url('../../public/assets/fonts/ProximaNova-Bold.ttf') format('truetype');
    /* Ajouter ici les autres formats de police (.woff2, .ttf, .eot, etc.) pour la compatibilité des navigateurs */
}

/*----------------
----- MIXINS -----
----------------*/

@mixin Button {
    margin: auto;
    font-family:'MainFont_bold';
    color: $colorDarkGrey;
    font-size: 16px;
    padding: 10px;
    border: 2px solid $colorDarkGrey;
    border-radius: 50rem;
    &:hover {
        color: $colorLightGrey;
        border-color: $colorLightGrey;
        cursor: pointer;
    }
}

/*-------------------
----- VARIABLES -----
-------------------*/

$colorLightGrey: #E9E9E9;
$colorDarkGrey: #0c0c0c;
$colorFields: aqua;
$colorButtons: rgb(96, 54, 151);
$colorFirst: yellow;
$colorSecond: blue;
$colorThird: violet;

/*-------------------
----- KEYFRAMES -----
-------------------*/

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

@keyframes heightRetract {
    0% { 
        padding-top: 0%;
        padding-bottom: 0%;
    }
    35% {
        padding-top: 0%;
        padding-bottom: 0%;
       
    }
    100% {
        padding-top: 22px;
        padding-bottom: 22px;
       
    }
}

@keyframes heightRetractInvert {
 
    0% {
        padding-top: 22px;
        padding-bottom: 22px;
       
    }
    100% {
        padding-top: 0;
        padding-bottom: 0;
       
    }
}

@keyframes navOpen {
    0% { 
        // padding: 10px 54px;
        height: 30px;
        opacity: 0;
        
    }
    50% {
        // padding: 30px 54px;
        height: 63px;
        opacity: 0;
    }
   
    100% {
        // padding: 30px 54px;
        height: 63px;
        opacity: 1;
    }
}

@keyframes navOpenInvert {
    0% {
        // padding: 30px 54px;
        height: 63px;
        opacity: 1;
        display: flex;
        
    }
    50% { 
        // padding: 10px 54px;
        height: 63px;
        opacity: 0;
        display: flex;
        
    }
    100% {
        // padding: 10px 54px;
        height: 30px;
        opacity: 0;
        display: none;
    }
}

@keyframes showHamburger {
    0% { 
        // padding: 10px 54px;
        height: 0px;
        opacity: 0;
        display: none;
        
    }
    50% {
        // padding: 30px 54px;
        height: 30px;
        opacity: 0;
        display: flex;
    }
   
    100% {
        // padding: 30px 54px;
        height: 30px;
        opacity: 1;
        display: flex;
    }
}
@keyframes hideHamburger {
    0% { 
        // padding: 10px 54px;
        height: 30px;
        opacity: 1;
        display: flex;
        
    }
    50% {
        // padding: 30px 54px;
        height: 30px;
        opacity: 0;
        display: flex;
    }
   
    100% {
        // padding: 30px 54px;
        height: 0px;
        opacity: 0;
        display: flex;
    }
}