@charset "UTF-8";
/*---------------
----- FONTS -----
---------------*/
@font-face {
  font-family: "SpecialFont";
  src: url("../../public/assets/fonts/Mermaid1001.ttf") format("truetype");
  /* Ajouter ici les autres formats de police (.woff2, .ttf, .eot, etc.) pour la compatibilité des navigateurs */
}
@font-face {
  font-family: "MainFont_light";
  src: url("../../public/assets/fonts/ProximaNova-Light.ttf") format("truetype");
  /* Ajouter ici les autres formats de police (.woff2, .ttf, .eot, etc.) pour la compatibilité des navigateurs */
}
@font-face {
  font-family: "MainFont_lightItalic";
  src: url("../../public/assets/fonts/ProximaNova-LightIt.ttf") format("truetype");
  /* Ajouter ici les autres formats de police (.woff2, .ttf, .eot, etc.) pour la compatibilité des navigateurs */
}
@font-face {
  font-family: "MainFont_bold";
  src: url("../../public/assets/fonts/ProximaNova-Bold.ttf") format("truetype");
  /* Ajouter ici les autres formats de police (.woff2, .ttf, .eot, etc.) pour la compatibilité des navigateurs */
}
/*----------------
----- MIXINS -----
----------------*/
/*-------------------
----- VARIABLES -----
-------------------*/
/*-------------------
----- KEYFRAMES -----
-------------------*/
@-webkit-keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
@-webkit-keyframes heightRetract {
  0% {
    padding-top: 0%;
    padding-bottom: 0%;
  }
  25% {
    padding-top: 0%;
    padding-bottom: 0%;
  }
  100% {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
@keyframes heightRetract {
  0% {
    padding-top: 0%;
    padding-bottom: 0%;
  }
  25% {
    padding-top: 0%;
    padding-bottom: 0%;
  }
  100% {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
@-webkit-keyframes heightRetractInvert {
  0% {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  100% {
    padding-top: 0;
    padding-bottom: 0;
  }
}
@keyframes heightRetractInvert {
  0% {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  100% {
    padding-top: 0;
    padding-bottom: 0;
  }
}
@-webkit-keyframes navOpen {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes navOpen {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes navOpenInvert {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes navOpenInvert {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes showHamburger {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes showHamburger {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes hideHamburger {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes hideHamburger {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes openHeader {
  0% {
    height: 35px;
  }
  100% {
    height: 98px;
  }
}
@keyframes openHeader {
  0% {
    height: 35px;
  }
  100% {
    height: 98px;
  }
}
@-webkit-keyframes closeVerticalHeader {
  0% {
    width: 40%;
  }
  100% {
    width: 35px;
  }
}
@keyframes closeVerticalHeader {
  0% {
    width: 40%;
  }
  100% {
    width: 35px;
  }
}
@-webkit-keyframes openVerticalHeader {
  0% {
    width: 35px;
  }
  100% {
    width: 40%;
  }
}
@keyframes openVerticalHeader {
  0% {
    width: 35px;
  }
  100% {
    width: 40%;
  }
}
@-webkit-keyframes closeHeader {
  0% {
    height: 98px;
  }
  100% {
    height: 35px;
  }
}
@keyframes closeHeader {
  0% {
    height: 98px;
  }
  100% {
    height: 35px;
  }
}
@-webkit-keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@-webkit-keyframes disappearValidBox {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes disappearValidBox {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes darkAppear {
  0% {
    filter: brightness(0);
  }
  20% {
    filter: brightness(0);
  }
  100% {
    filter: brightness(1);
  }
}
@keyframes darkAppear {
  0% {
    filter: brightness(0);
  }
  20% {
    filter: brightness(0);
  }
  100% {
    filter: brightness(1);
  }
}
@-webkit-keyframes closeCollapse {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes closeCollapse {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@-webkit-keyframes openCollapse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@keyframes openCollapse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@-webkit-keyframes openCollapseChildren {
  0% {
    height: 0px;
    opacity: 0;
  }
  50% {
    height: auto;
    opacity: 0;
  }
  100% {
    height: auto;
    opacity: 1;
  }
}
@keyframes openCollapseChildren {
  0% {
    height: 0px;
    opacity: 0;
  }
  50% {
    height: auto;
    opacity: 0;
  }
  100% {
    height: auto;
    opacity: 1;
  }
}
@-webkit-keyframes closeCollapseChildren {
  0% {
    height: auto;
    opacity: 1;
  }
  50% {
    height: auto;
    opacity: 0;
  }
  100% {
    height: 0px;
    opacity: 0;
  }
}
@keyframes closeCollapseChildren {
  0% {
    height: auto;
    opacity: 1;
  }
  50% {
    height: auto;
    opacity: 0;
  }
  100% {
    height: 0px;
    opacity: 0;
  }
}
@-webkit-keyframes appearOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes appearOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.about {
  display: flex;
  flex-direction: column;
  -webkit-animation: appearOpacity 2s ease forwards;
          animation: appearOpacity 2s ease forwards;
}
.about_title {
  margin: 85px 54px;
  font-size: 98px;
  font-family: "SpecialFont";
}
.about_img {
  width: 100%;
  aspect-ratio: 2/1;
  -o-object-fit: cover;
     object-fit: cover;
  filter: grayscale(1);
  margin: 0;
}
@media only screen and (max-width: 768px) {
  .about_img {
    aspect-ratio: 1.2/1;
    width: 100%;
  }
}
.about_introductionContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
@media only screen and (min-width: 769px) and (max-width: 991px) {
  .about_introductionContainer {
    margin-left: 50px;
  }
}
@media only screen and (max-width: 768px) {
  .about_introductionContainer {
    margin-left: 50px;
  }
}
.about_introductionContainer p {
  width: 40%;
  text-align: justify;
  font-family: "MainFont_light";
  font-size: 16px;
  margin-left: 54px;
  padding-top: 98px;
  padding-bottom: 98px;
}
@media only screen and (min-width: 769px) and (max-width: 991px) {
  .about_introductionContainer p {
    width: auto;
    margin-right: 15px;
    padding-top: 46px;
    padding-bottom: 46px;
  }
}
@media only screen and (max-width: 768px) {
  .about_introductionContainer p {
    width: auto;
    margin-right: 15px;
    font-size: 12px;
    padding-top: 35px;
    padding-bottom: 35px;
  }
}
.about_manifestoContainer {
  padding-left: 54px;
  padding-right: 54px;
  background-color: rgb(255, 242, 0);
  margin: 0;
}
@media only screen and (min-width: 769px) and (max-width: 991px) {
  .about_manifestoContainer {
    padding-left: 50px;
    padding-right: 15px;
  }
}
@media only screen and (max-width: 768px) {
  .about_manifestoContainer {
    padding-left: 50px;
    padding-right: 15px;
  }
}
.about_manifestoContainer_title {
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: "SpecialFont";
  font-size: 54px;
  padding-top: 98px;
  margin: auto;
}
@media only screen and (min-width: 769px) and (max-width: 991px) {
  .about_manifestoContainer_title {
    font-size: 54px;
    padding-top: 54px;
  }
}
@media only screen and (max-width: 768px) {
  .about_manifestoContainer_title {
    font-size: 22px;
    padding-top: 35px;
  }
}
.about_manifestoContainer_secondTitle {
  display: flex;
  justify-content: flex-start;
  width: 50%;
  font-family: "SpecialFont";
  font-size: 35px;
  padding-top: 98px;
}
@media only screen and (min-width: 769px) and (max-width: 991px) {
  .about_manifestoContainer_secondTitle {
    width: 100%;
    padding-top: 54px;
  }
}
@media only screen and (max-width: 768px) {
  .about_manifestoContainer_secondTitle {
    font-size: 16px;
    width: 100%;
    padding-top: 22px;
  }
}
.about_manifestoContainer_description {
  display: flex;
  text-align: justify;
  width: 50%;
  font-family: "MainFont_light";
  font-size: 16px;
}
@media only screen and (min-width: 769px) and (max-width: 991px) {
  .about_manifestoContainer_description {
    margin: 0;
    width: auto;
  }
}
@media only screen and (max-width: 768px) {
  .about_manifestoContainer_description {
    font-size: 12px;
    margin: 0;
    width: auto;
  }
}
.about_manifestoContainer_list {
  margin: 0;
  padding: 98px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 35px;
  list-style-type: none;
  width: 95%;
}
@media only screen and (min-width: 769px) and (max-width: 991px) {
  .about_manifestoContainer_list {
    padding: 54px 0;
  }
}
@media only screen and (max-width: 768px) {
  .about_manifestoContainer_list {
    padding: 35px 0;
  }
}
.about_manifestoContainer_list_item p {
  font-family: "SpecialFont";
  font-size: 25px;
  margin: auto;
  text-align: left;
}
@media only screen and (min-width: 769px) and (max-width: 991px) {
  .about_manifestoContainer_list_item p {
    font-size: 16px;
    text-align: left;
  }
}
@media only screen and (max-width: 768px) {
  .about_manifestoContainer_list_item p {
    font-size: 14px;
    text-align: center;
  }
}
.about_mentionsText {
  color: #E9E9E9;
  display: flex;
  text-align: justify;
  width: 50%;
  margin: 0;
  font-family: "MainFont_light";
  font-size: 19px;
  padding-top: 98px;
  padding-left: 10%;
  padding-right: 0;
}
@media only screen and (min-width: 769px) and (max-width: 991px) {
  .about_mentionsText {
    font-size: 16px;
    width: auto;
    margin-right: 15px;
    padding-top: 54px;
  }
}
@media only screen and (max-width: 768px) {
  .about_mentionsText {
    font-size: 12px;
    width: auto;
    margin-right: 15px;
    padding-top: 35px;
  }
}
.about_collabsGrid {
  padding-top: 54px;
  padding-bottom: 54px;
  padding-left: 10%;
  padding-right: 0;
  width: 600px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 22px;
  list-style-type: none;
}
@media only screen and (min-width: 769px) and (max-width: 991px) {
  .about_collabsGrid {
    width: 500px;
    padding-top: 54px;
  }
}
@media only screen and (max-width: 768px) {
  .about_collabsGrid {
    margin: 0;
    width: 85%;
    padding-top: 35px;
  }
}
.about_collabsGrid_item {
  width: 100px;
}
@media only screen and (min-width: 769px) and (max-width: 991px) {
  .about_collabsGrid_item {
    margin: auto;
  }
}
@media only screen and (max-width: 768px) {
  .about_collabsGrid_item {
    margin: auto;
    width: 60px;
  }
}
.about_collabsGrid_item img {
  width: 100px;
}
@media only screen and (min-width: 769px) and (max-width: 991px) {
  .about_collabsGrid_item img {
    width: 80px;
    margin: auto;
  }
}
@media only screen and (max-width: 768px) {
  .about_collabsGrid_item img {
    width: 60px;
    margin: auto;
    align-items: center;
  }
}/*# sourceMappingURL=About.css.map */