@import '../../utils/mixins';

.dndItem {
    position: relative;

    &_6 {
        &_item_0 {
            height: 400px;
            grid-row-start:1;
            grid-row-end:2;
            grid-column-start: 1;
            grid-column-end: 3;
        }
        &_item_1 {
            height: 300px;
            grid-row-start:2;
            grid-row-end:3;
            grid-column-start: 1;
            grid-column-end: 2;
        }
        &_item_2 {
            height: 300px;
            grid-row-start:3;
            grid-row-end:4;
            grid-column-start: 1;
            grid-column-end: 2;
        }
        &_item_3 {
            height: 100%;
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start:2;
            grid-row-end:4;
        }
        &_item_4 {
            height: 400px;
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start:4;
            grid-row-end:5;
        }
        &_item_5 {
            height: 400px;
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start:4;
            grid-row-end:5;
        }
    }

    //pour 5 images
    &_5 {
        &_item_0 {
            height: 400px;
            grid-row-start:1;
            grid-row-end:2;
            grid-column-start: 1;
            grid-column-end: 3;
        }
        &_item_1 {
            height: 300px;
            grid-row-start:2;
            grid-row-end:3;
            grid-column-start: 1;
            grid-column-end: 2;
        }
        &_item_2 {
            height: 300px;
            grid-row-start:3;
            grid-row-end:4;
            grid-column-start: 1;
            grid-column-end: 2;
        }
        &_item_3 {
            height: 100%;
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start:2;
            grid-row-end:4;
        }
        &_item_4 {
            height: 400px;
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start:4;
            grid-row-end:5;
        }
    }

    //pour 4 images
    &_4 {
        &_item_0 {
            height: 400px;
            grid-row-start:1;
            grid-row-end:2;
            grid-column-start: 1;
            grid-column-end: 3;
        }
        &_item_1 {
            height: 300px;
            grid-row-start:2;
            grid-row-end:3;
            grid-column-start: 1;
            grid-column-end: 2;
        }
        &_item_2 {
            height: 300px;
            grid-row-start:3;
            grid-row-end:4;
            grid-column-start: 1;
            grid-column-end: 2;
        }
        &_item_3 {
            height: 100%;
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start:2;
            grid-row-end:4;
        }
    }

    //pour 3 images
    &_3 {
        &_item_0 {
            height: 400px;
            grid-column-start: 1;
            grid-column-end: 3;
        }
        &_item_1 {
            height: 300px;
            grid-column-start: 1;
            grid-column-end: 2;
        }
        &_item_2 {
            height: 300px;
            grid-column-start: 2;
            grid-column-end: 3;
        }
    }

    //pour 2 images
    &_2 {
        &_item_0 {
            height: 400px;
            grid-column-start: 1;
            grid-column-end: 3;
        }
        &_item_1 {
            height: 400px;
            grid-column-start: 1;
            grid-column-end: 3;
        }
    }

    //pour 1 image
    &_1 {
        &_item_0 {
            height: 400px;
            grid-column-start: 1;
            grid-column-end: 3;
        }
    }

    //pour 0 image
    &_0 {
        display: none;
    }

    &:hover {
        cursor:grab;
    }

    &_image {
        z-index: 2;
        width: 100%;
        height: 100%;
        object-fit: cover;
        
        
    }
    &_buttons {
        
        
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: rgba($color: #000000, $alpha: 0.8);
        border-radius: 10%;

        &_supprButton, &_isMainButton {
            color: white;
            z-index: 3;
            background: none;
            border: none;
            &:hover {
                cursor: pointer;
            }
            
        }
        &_isMainButton {
            &--isWhite {
                color: white;
                }
            &--isOrange {
                color: $colorThird;
            }
        }
    }
}

.dndRowItem { 
    height: 300px;
    aspect-ratio: 1/1.5;
    position: relative;
    &_image {

        height: 100%;
        width: 100%;
        object-fit: cover ;
    }
}