.dndGrid {
    width: 100%;
    height: auto;
    display: grid;
    justify-content: center;
    align-items: center;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 2px;
    // row-gap: 10px;

    &_item {
        width: auto;
        list-style-type: none;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.dndRow {
    width: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    overflow: scroll;
    justify-content: center;
    align-items: center;
    margin: auto;
    grid-gap: 20px;
}